@model XIDNA.ViewModels.VMOrganization

@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    string PhysicalPath = System.Configuration.ConfigurationManager.AppSettings["PhysicalPath"];
}
<script src="~/Scripts/ajaxfileupload.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#OrgViewtabs').tabs();
        $("#EditGeneral").hide();
        $("#EditContact").hide();
        $("#NewImage").hide();
        $("#ViewGeneral").show();
        $("#ViewContact").hide();
        $('#EditClasses').hide();
        $('#ViewClasses').hide();
        $('#EditLocations').hide();
        $(document.body).on('click', 'button.orgCancel', function () {
            window.close();
        });

        $(document.body).on('click', 'button#ConBackBtn', function () {
            $('#EditContact').hide();
            $('#ViewContact').show();
            @*var id = parseInt('@Model.ID');
            $.ajax({
                url: '@Url.Action("GetOrganizationDetails", "Organization")',
                type: 'GET',
                datatype: 'JSON',
                data: { orgid: id },
                success: function (data) {
                    $("#EditContact").show();
                    $("#EditGeneral").hide();
                    $("#AddEmpForm").hide();
                    $("#backcon").hide();
                    $('li#generaldetails').removeClass('disabled');
                    $('li#orgclass').removeClass('disabled');
                },
                error: function (data) {
                },
            });*@
        })
        $(document.body).on('click', 'button#GenBackBtn', function () {
            $('#EditGeneral').hide();
            $('#ViewGeneral').show();
            @*var id = parseInt('@Model.ID');
            $.ajax({
                url: '@Url.Action("GetOrganizationDetails", "Organization")',
                type: 'GET',
                datatype: 'JSON',
                data: { orgid: id },
                success: function (data) {
                    $("#EditContact").hide();
                    $("#EditGeneral").show();
                    $("#ViewGeneral").hide();
                    $("#backgen").hide();
                    $('li#contactdetails').removeClass('disabled');
                    $('li#orgclass').removeClass('disabled');
                },
                error: function (data) {
                },
            });*@
        })
        $(document.body).on('click', 'button#ClassBackBtn', function () {
            $('#EditClasses').hide();
            $('#ViewClasses').show();
        });
        $(document.body).on('click', 'input#ReUpload', function () {
            $("#NewImage").show();
            $("#dvPreview").hide();
        })
        $(document.body).on('click', 'input#GenEditBtn', function () {
            var id = parseInt('@Model.ID');
            $.ajax({
                url: '@Url.Action("GetOrgUpdatedData", "Organization")',
                type: 'POST',
                datatype: 'html',
                data: { OrgID: id },
                cache: false,
                success: function (data) {
                    var GenView = $(data).find('#EditGeneral');
                    $('#EditGeneral').html(GenView.html());
                    $('#EditContact').hide();
                    $('#EditClasses').hide();
                    $('#ViewGeneral').hide();
                    $('#EditGeneral').show();
                    if ('@Model.Logo' != null) {
                        $("#NewImage").hide();
                    }
                },
                error: function (data) {
                },
            });
        })

        $(document.body).on('click', 'input#ConEditBtn', function () {
            var id = parseInt('@Model.ConOrganizationID');
            $.ajax({
                url: '@Url.Action("GetOrgUpdatedData", "Organization")',
                type: 'POST',
                datatype: 'html',
                data: { OrgID: id },
                cache: false,
                success: function (data) {
                    $("#EditGeneral").hide();
                    $('#OrgClasses').hide();
                    $("#ViewContact").hide();
                    $("#EditContact").show();
                    var ConView = $(data).find('#EditContact');
                    $('#EditContact').html(ConView.html());
                },
                error: function (data) {
                },
            });
        })
        $(document.body).on('click', 'input#ClassEditBtn', function () {
            var id = parseInt('@Model.OrganizationID');
            $.ajax({
                url: '@Url.Action("GetOrgUpdatedData", "Organization")',
                type: 'POST',
                datatype: 'html',
                data: { OrgID: id },
                cache: false,
                success: function (data) {
                    $("#EditGeneral").hide();
                    $("#EditContact").hide();
                    $('#ViewClasses').hide();
                    $('#EditClasses').show();
                    var ClassView = $(data).find('#EditClasses');
                    $('#EditClasses').html(ClassView.html());
                },
                error: function (data) {
                },
            });
        })
        $('#ClassBackBtn').click(function () {
            $('#EditClasses').show();
            $('#ViewClasses').hide();
        });
        $('#liGenDetails').click(function () {
            var id = parseInt('@Model.ID');
            $.ajax({
                url: '@Url.Action("GetOrgUpdatedData", "Organization")',
                type: 'POST',
                datatype: 'html',
                data: { OrgID: id },
                cache: false,
                success: function (data) {
                    var GenView = $(data).find('#ViewGeneral');
                    $('#ViewGeneral').html(GenView.html());
                    $('#EditContact').hide();
                    $('#EditClasses').hide();
                    $('#EditGeneral').hide();
                    $('#ViewGeneral').show();
                    if ('@Model.Logo' != null) {
                        $("#NewImage").hide();
                    }
                },
                error: function (data) {
                },
            });
            $('#EditContact').hide();
            $('#ViewContact').hide();
            $('#EditClasses').hide();
            $('#ViewClasses').hide();
            $('#EditGeneral').hide();
            $('#EditLocations').hide();
            $('#ViewGeneral').show();
            $('#liConDetails').removeClass('active');
            $('#liClassDetails').removeClass('active');
            $('#liGenDetails').addClass('active');
            $('#liLocDetails').removeClass('active');
        });
        $('#liConDetails').click(function () {
            var id = parseInt('@Model.ConOrganizationID');
            $.ajax({
                url: '@Url.Action("GetOrgUpdatedData", "Organization")',
                type: 'POST',
                datatype: 'html',
                data: { OrgID: id },
                cache: false,
                success: function (data) {
                    $("#EditGeneral").hide();
                    $('#OrgClasses').hide();
                    $("#EditContact").hide();
                    $("#ViewContact").show();
                    var ConView = $(data).find('#ViewContact');
                    $('#ViewContact').html(ConView.html());
                },
                error: function (data) {
                },
            });
            $('#EditGeneral').hide();
            $('#ViewGeneral').hide();
            $('#EditClasses').hide();
            $('#ViewClasses').hide();
            $("#ViewContact").show();
            $('#EditLocations').hide();
            $('#EditContact').hide();
            $('#liGenDetails').removeClass('active');
            $('#liClassDetails').removeClass('active');
            $('#liConDetails').addClass('active');
            $('#liLocDetails').removeClass('active');

        });

        $('#liClassDetails').click(function () {
            var id = parseInt('@Model.OrganizationID');
            $.ajax({
                url: '@Url.Action("GetOrgUpdatedData", "Organization")',
                type: 'POST',
                datatype: 'html',
                data: { OrgID: id },
                cache: false,
                success: function (data) {
                    $("#EditGeneral").hide();
                    $("#EditContact").hide();
                    $('#EditClasses').hide();
                    $('#ViewClasses').show();
                    var ClassView = $(data).find('#ViewClasses');
                    $('#ViewClasses').html(ClassView.html());
                },
                error: function (data) {
                },
            });
            $('#EditContact').hide();
            $('#EditGeneral').hide();
            $('#ViewGeneral').hide();
            $('#ViewContact').hide();
            $('#ViewClasses').show();
            $('#EditLocations').hide();
            $('#EditClasses').hide();
            $('#liConDetails').removeClass('active');
            $('#liGenDetails').removeClass('active');
            $('#liClassDetails').addClass('active');
            $('#liLocDetails').removeClass('active');
        });
        $('#liLocDetails').click(function () {
            $('#EditContact').hide();
            $('#EditGeneral').hide();
            $('#ViewGeneral').hide();
            $('#ViewContact').hide();
            $('#ViewClasses').hide();
            $('#EditClasses').hide();
            $('#EditLocations').show();
            $('#liConDetails').removeClass('active');
            $('#liGenDetails').removeClass('active');
            $('#liClassDetails').removeClass('active');
            $('#liLocDetails').addClass('active');
        });
        $(document.body).on('change', 'input#UploadImage', function () {
            if ($('#UploadImage').val() != "") {
                $("#dvPreview").html("");
                if (typeof (FileReader) != "undefined") {
                    $("#dvPreview").show();
                    $("#dvPreview").append("<img />");
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#dvPreview img").attr("src", e.target.result);
                    }
                    reader.readAsDataURL($(this)[0].files[0]);
                }
            }

        });
    })



</script>
<style>
    .orgerrormsg {
        margin-top: 28px;
    }

    #dvPreview {
        margin-top: 20px;
    }

    p.orgclassname {
        margin-bottom: 5px;
    }

    .disabled a {
        color: #777 !important;
    }

    .Textvalue {
        margin-top: 7px;
    }

    #OrgTabs li:hover {
        cursor: pointer;
    }

    .orgerrormsg {
        margin-top: 28px;
    }

    .danger {
        color: red;
    }

    div#Loading {
        display: none;
    }

    #NewImage {
        margin-top: 10px;
    }
</style>


@Html.AntiForgeryToken()
@*<hr />*@
<section class="content-header hedr">
    <h1> View Organization </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Organization Management</a></li>
        <li class="active">Home</li>
    </ol>
</section>
<div class="box" id="OrgViewtabs">
    <div class="box-header bg-grey-darker no-padding">
        <ul class="bg-transparent">
            <li id="liGenDetails" class="active"><a href="#ViewGeneral">General Details</a></li>
            <li id="liConDetails"><a href="#ViewContact">Contact Details</a></li>
            <li id="liClassDetails"><a href="#ViewClasses">Class Details</a></li>
            <li id="liLocDetails"><a href="#EditLocations">Location Details</a></li>

        </ul>
    </div>
    <div class="box-body">
        <div class="innerborder">
            @{
                Html.RenderAction("GetOrgViewDetails", "Organization", new { model = @Model });
            }
        </div>        
    </div>
</div>
<div class="dialog-box EditOrgDlg" title="Confirm Message" style="background-color:white;"></div>
<script>
    //function OnComplete(data) {
    //    $('#generaldetails').removeClass('active');
    //    $('#contactdetails').addClass('active');

    //}
    function OnComplete(response) {
        var data = response;
        if ($("#UploadImage").val() != "") {
            $.ajaxFileUpload({
                url: '@Url.Action("SaveLogo", "Organization")',
                secureuri: false,
                type: 'POST',
                fileElementId: "UploadImage",
                dataType: 'json',
                data: {
                    id: data
                },
                success: function (data1) {
                    $.unblockUI();
                    $(".EditOrgDlg").html('Organization General Details Updated Successfully!');
                    $(".EditOrgDlg").dialog({
                        title: "Organization",
                        modal: true,
                        buttons: [
                        {
                            text: "Ok",
                            click: function () {
                                opener.location.reload();
                                $('#liGenDetails').removeClass('ui-tabs-active ui-state-active');
                                $('#liConDetails').addClass('ui-tabs-active ui-state-active');
                                $("#ConOrganizationID").val(data);
                                $("#EditGeneral").hide();
                                $('#EditClasses').hide();
                                $("#EditContact").show();
                                $(".EditOrgDlg").dialog('close');
                            }
                        }
                        ]
                    });

                },
                error: function (data, status, e) {
                    return alert(response);
                }
            })
        }
        else {
            $.unblockUI();
            $(".EditOrgDlg").html('Organization General Details Updated Successfully!');
            $(".EditOrgDlg").dialog({
                title: "Organization",
                modal: true,
                buttons: [
                {
                    text: "Ok",
                    click: function () {
                        opener.location.reload();
                        $('#liGenDetails').removeClass('ui-tabs-active ui-state-active');
                        $('#liConDetails').addClass('ui-tabs-active ui-state-active');
                        $("#ConOrganizationID").val(data);
                        $("#EditGeneral").hide();
                        $("#ViewContact").show();
                        $('#EditClasses').hide();
                        $(".EditOrgDlg").dialog('close');
                    }
                }
                ]
            });
        }
    }
    function OnConSuccess(e) {
        $.unblockUI();
        $(".EditOrgDlg").html('Organization Contact Details Updated Successfully!');
        $(".EditOrgDlg").dialog({
            title: "Organization",
            modal: true,
            buttons: [
            {
                text: "Ok",
                click: function () {
                    $("#EditGeneral").hide();
                    $("#EditContact").hide();
                    $("#ViewClasses").show();
                    $('#liConDetails').removeClass('ui-tabs-active ui-state-active');
                    $("#liClassDetails").addClass('ui-tabs-active ui-state-active');
                    $("#OrganizationID").val(e);
                    $(".EditOrgDlg").dialog('close');
                }
            }
            ]
        });

    }
    function OnClassSuccess() {
        $.unblockUI();
        $(".EditOrgDlg").html('Organization Class Details Updated Successfully!');
        $(".EditOrgDlg").dialog({
            title: "Organization",
            modal: true,
            buttons: [
            {
                text: "Ok",
                click: function () {
                    $('#ViewClasses').hide();
                    $('#EditClasses').hide();
                    $('#EditLocations').show();
                    $('#liClassDetails').removeClass('ui-tabs-active ui-state-active');
                    $("#liLocDetails").addClass('ui-tabs-active ui-state-active');
                    $(".EditOrgDlg").dialog('close');
                }
            }
            ]
        });
    }
    function OnBegin() {
        $.blockUI({ message: '<h3><img src="@PhysicalPath/Scripts/ckfinder/plugins/gallery/colorbox/images/loading.gif" width="50px" /> Please wait while saving details...</h3>' });
    }
</script>
