@model XIDNA.Models.cBODisplay
@{
    var oBOInstance = Model.BOInstance;
    var oVisualisations = Model.Visualisations;
}
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>

<div class="">
    <div class="LeftPane">
        <div class="LeadContent">
            <table class="DetailsTable table table-condensed autowidth table-striped">
                <tbody>
                    @foreach (var items in oBOInstance.NVPairs.Where(m => m.bDirty == true).ToList())
                    {
                        if (oVisualisations != null)
                        {
                            var oVisual = oVisualisations.Where(m => m.sAttribute == items.sName).FirstOrDefault();
                            if (oVisual != null)
                            {
                                var FKTableName = oBOInstance.Definition.BOFields.Where(m => m.Name == items.sName).Select(m => m.FKTableName).FirstOrDefault();
                                <tr>
                                    <td class="lightblue sbold">@oBOInstance.Definition.BOFields.Where(m => m.Name == items.sName).Select(m => m.LabelName).FirstOrDefault()</td>
                                    @if (FKTableName != null)
                                    {
                                        <td class="leftpd value-color sbold">@items.sGroupValue</td>
                                    }
                                    @if (oVisual.sPreviewGroup != null)
                                    {
                                        <td><a tabindex="0" role="button" style="color:#fff" data-html="true" data-trigger="focus" data-toggle="popover" data-placement="right" data-content="@oVisual.sPreviewData"><i class="fa fa-eye"></i></a></td>
                                    }
                                    @if (oVisual.iDrillDownXiLinkID > 0)
                                    {
                                        <td><a style="color:#fff" onclick="XIRun(this,'@oVisual.iDrillDownXiLinkID', '@items.sValue', null, null, true)"><i class="fa fa-search" aria-hidden="true"></i></a></td>
                                    }
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td class="lightblue sbold">@oBOInstance.Definition.BOFields.Where(m => m.Name == items.sName).Select(m => m.LabelName).FirstOrDefault()</td>
                                    <td class="leftpd value-color sbold">@items.sValue</td>
                                </tr>
                            }
                        }
                        else if (oVisualisations == null)
                        {
                            if (oBOInstance.Definition.BOFields.Where(m => m.Name.ToLower() == items.sName.ToLower()).Select(m => m.FKiType).FirstOrDefault() > 0)
                            {
                                var DDLFieldData = oBOInstance.Definition.BOFields.Where(m => m.Name.ToLower() == items.sName.ToLower()).Select(m => m.FieldDDL);
                                var DDLFieldID = oBOInstance.NVPairs.Where(m => m.sName.ToLower() == items.sName.ToLower()).Select(m => m.sValue).FirstOrDefault();
                                foreach (var Options in DDLFieldData)
                                {
                                    foreach (var data in Options)
                                    {
                                        if (data.ID.ToString() == DDLFieldID)
                                        {
                                            <tr>
                                                <td class="lightblue sbold">@oBOInstance.Definition.BOFields.Where(m => m.Name.ToLower() == items.sName.ToLower()).Select(m => m.LabelName).FirstOrDefault()</td>
                                                <td class="leftpd value-color sbold">@data.Expression</td>
                                            </tr>
                                        }
                                    }
                                }
                            }
                            else if (oBOInstance.Definition.BOFields.Where(m => m.Name.ToLower() == items.sName.ToLower()).Select(m => m.FKiFileTypeID).FirstOrDefault() > 0)
                            {
                                if (oBOInstance.Definition.BOFields.Where(m => m.Name.ToLower() == items.sName.ToLower()).Select(m => m.ImagePathDetails).Count() > 0)
                                {
                                    var Images = oBOInstance.Definition.BOFields.Where(m => m.Name.ToLower() == items.sName.ToLower()).Select(m => m.ImagePathDetails);
                                    foreach (var img in Images)
                                    {
                                        <tr>
                                            <td class="lightblue sbold">@oBOInstance.Definition.BOFields.Where(m => m.Name.ToLower() == items.sName.ToLower()).Select(m => m.LabelName).FirstOrDefault()</td>
                                            @foreach (var item in img)
                                            {
                                                <td class="leftpd value-color sbold"><img src="@item.Expression" width="50" height="50" /></td>
                                            }
                                        </tr>
                                    }
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="lightblue sbold">@oBOInstance.Definition.BOFields.Where(m => m.Name.ToLower() == items.sName.ToLower()).Select(m => m.LabelName).FirstOrDefault()</td>
                                    <td class="leftpd value-color sbold">@items.sValue</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>