@using Microsoft.AspNet.Identity
@using XIDNA.Models
@using XIDNA.ViewModels

<style>
    .HasItems {
    }
</style>
<aside class="control-sidebar control-sidebar-dark sidebar control-sidebar-open" style="border-left: 1px solid rgba(40, 58, 70, 0.34);">
    <ul class="sidebar-menu" id="RightMenuDetails">
        <li class="treeview">
            <a href='@Url.Action("DisplayMenuDetails", "Home")'><img src="~/Content/images/master.png" alt="User Image"><span>Menu Management</span></a>
        </li>
        @TreeView(Model)
        @helper TreeView(IEnumerable<XIDNA.Models.RightMenuTrees> nodes)
        {
foreach (var node in nodes)
{
    int ID = node.ID;
    if (node.SubGroups.Count == 0)
    {
            <li class="treeview">
                @if (node.XiLinkID > 0)
                {
                    <a data-xilinkid="@node.XiLinkID"><span>@node.Name</span></a>
                }
                else
                {
                    <a href="@Url.Action(node.MenuAction, node.MenuController)"><span>@node.Name</span></a>
                }
            </li>
    }
    else
    {
            <li class="treeview">
                @if (node.XiLinkID > 0)
                {
                    <a href="#"><span>@node.Name</span> <i class="fa fa-angle-left pull-right"></i></a>
                }
                else
                {
                    <a href="#"><span>@node.Name</span> <i class="fa fa-angle-left pull-right"></i></a>
                }
                <ul class="treeview-menu">@TreeView(node.SubGroups)</ul>
            </li>
    }
}
}

    </ul>
</aside>

<script>
    ContentURL = '@Url.Action("GetXiLinkContent", "XiLink")';
    DataURL = '@Url.Action("GetXiLinkData", "XiLink")';
    PopupURL = '@Url.Action("GetPopupDetails", "XiLink")';
    PopupORDialogURL = '@Url.Action("GetPopupORDialog", "XiLink")';
    DialogURL = '@Url.Action("GetDialog", "XiLink")';
    SaveEditBOURL = '@Url.Action("SaveBO", "XiLink")';
    SemanticURL = '@Url.Action("GetSemanticDetails", "XiLink")';
    ComponentURL = '@Url.Action("LoadComponentByID", "XIComponents")';
    StepURL = '@Url.Action("GetStepContent", "XiLink")';
    DeleteBOURL = '@Url.Action("DeleteBO", "XiLink")';
    SaveMultiRowURL = '@Url.Action("SaveMultiRow", "XiLink")';
</script>
<script src="~/Scripts/CommonFunctions.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#RightMenuDetails').on('click', 'a', function () {
            var XiLinkID = $(this).attr('data-xilinkid');
            if (XiLinkID > 0) {
                //var InputParams = [];
                //var param1 = {};
                //param1["sName"] = 'xilinkid';
                //param1["sValue"] = XiLinkID;
                //InputParams.push(param1);
                //var param2 = {};
                //param2["sName"] = 'IsMerge';
                //param2["sValue"] = true;
                //InputParams.push(param2);
                //XIRun(InputParams);
                //XIRun(XiLinkID, 0, null, null, true, 0, 0);
                XIRun(null,XiLinkID, 0, null, null, true, 0, 0);
                //XILinkLoadJson(XiLinkID);
            }
        });
    });
</script>