@model XICore.XIIComponent
@using XISystem
@using XICore
@using XIInfrastructure
@{
    XIDLayout oLayout = new XIDLayout();
    if (Model.oContent.ContainsKey(XIConstant.LayoutMappingComponent))
    {
        oLayout = (XIDLayout)Model.oContent[XIConstant.LayoutMappingComponent];
        if (oLayout == null)
        {
            oLayout = new XIDLayout();
        }
    }
}

<script>
    $(document).ready(function () {
        if (parseInt('@oLayout.StatusTypeID') > 0) {
            $('#StatusTypeID').val('@oLayout.StatusTypeID');
        }
        //var table = "<table id='PlaceholderMaptbl' class='table table-striped custom-table dark-head dark-head2 table-condensed dataTable no-footer'><thead><th>S.No</th><th>Placeholder</th><th>Actions</th></thead><tbody>";
        $('#XiLinksDDLDiv').hide();
        $('#XIComponentsDiv').hide();
        $('#HTMLContentDiv').hide();
        $('#StepsDiv').hide();
        $('#PHContentType').change(function(){
            var Type = $(this).val();
            if(Type=="XiLink"){
                $('#XiLinksDDLDiv').show();
                $('#XIComponentsDiv').hide();
                $('#HTMLContentDiv').hide();
                $('#StepsDiv').hide();
                //$('#XiLinkDDL')[0].selectedIndex = 0;
            }
            else if(Type=="HTML"){
                $('#XiLinksDDLDiv').hide();
                $('#HTMLContentDiv').show();
                $('#XIComponentsDiv').hide();
                $('#StepsDiv').hide();
                //$('#HTMLText').val('');
            }
            else if(Type=="XIComponent"){
                $('#XiLinksDDLDiv').hide();
                $('#HTMLContentDiv').hide();
                $('#XIComponentsDiv').show();
                $('#StepsDiv').hide();
                //$('#XiComponentDDL')[0].selectedIndex = 0;
            }
            else if(Type=="Step"){
                $('#XiLinksDDLDiv').hide();
                $('#HTMLContentDiv').hide();
                $('#XIComponentsDiv').hide();
                $('#StepsDiv').show();
                //$('#XiComponentDDL')[0].selectedIndex = 0;
            }
            else{
                $('#XIComponentsDiv').hide();
                $('#XiLinksDDLDiv').hide();
                $('#HTMLContentDiv').hide();
                $('#StepsDiv').hide();
            }
        });
        $('#LayoutPreview div').each(function() {
            //var PlaceholderArea = "td"+(j+1);
            var id = $(this).attr('id');
            if(id && id.length>0){
                id = "div" + id;
                var Details = @Html.Raw(Json.Encode(oLayout.Details));
                for(k=0;k<Details.length;k++){
                    if(Details[k].PlaceholderArea==id){
                        $(this).append(Details[k].PlaceholderName);
                        $(this).attr('data-name', Details[k].PlaceholderName);
                        $(this).attr('data-phid', Details[k].PlaceHolderID);
                    }
                }
            }
            //table = table + "<tr><td>" + i + "</td><td>Placeholder" + i + "</td><td><button type='button' class='btn btn-primary btn-xs MapPlaceHolderBtn' id='PlaceHolder" + i + "'>Map</button></td></tr>";

        });
        //table = table + "</tbody></table>";
        //$('#MappingGrid').html(table);
        //$('#PlaceholderMaptbl').dataTable();
        //$('.MapPlaceHolderBtn').click(function () {
        //    var ID = $(this).attr('id');
        //});
        var Assigned = @Html.Raw(Json.Encode(oLayout.Mappings));
        $('#PHMappingForm').hide();
        $('#LayoutPreview div').click(function () {
            var Found = false;
            var id = $(this).attr('id');
            if(id && id.length>0){
                $('.StatusMessages').hide();
                $('#XiLinkDDL').val(0);
                $('#PHContentType').val(0);
                var name = $(this).attr('data-name');
                var phid = $(this).attr('data-phid');
                for(i=0;i<Assigned.length;i++){
                    if(Assigned[i].PlaceHolderID==phid){
                        Found = true;
                        $('#PHContentType').val(Assigned[i].ContentType);
                        $('#MappingID').val(Assigned[i].PlaceHolderID);

                        if(Assigned[i].ContentType == "HTML")
                        {
                            $('#HTMLText').val(Assigned[i].HTMLCode);
                            $('#HTMLContentDiv').show();
                            $('#XiLinksDDLDiv').hide();
                            $('#XIComponentsDiv').hide();
                            $('#StepsDiv').hide();
                        }
                        else if(Assigned[i].ContentType == "XiLink")
                        {
                            $('#HTMLContentDiv').hide();
                            $('#XiLinkDDL').val(Assigned[i].XiLinkID);
                            $('#PHContentType').val(Assigned[i].ContentType);
                            $('#HTMLText').val(Assigned[i].HTMLCode);
                            $('#StatusTypeID').val(Assigned[i].StatusTypeID);
                            $('#XIComponentsDiv').hide();
                            $('#StepsDiv').hide();
                            $('#XiLinksDDLDiv').show();
                        }
                        else if(Assigned[i].ContentType == "XIComponent")
                        {
                            $('#HTMLContentDiv').hide();
                            $('#XiLinksDDLDiv').hide();
                            $('#PHContentType').val(Assigned[i].ContentType);
                            $('#StatusTypeID').val(Assigned[i].StatusTypeID);
                            $('#XiComponentDDL').val(Assigned[i].XiLinkID);
                            $('#StepsDiv').hide();
                            $('#XIComponentsDiv').show();
                        }
                        else if(Assigned[i].ContentType == "Step")
                        {
                            $('#HTMLContentDiv').hide();
                            $('#XiLinksDDLDiv').hide();
                            $('#PHContentType').val(Assigned[i].ContentType);
                            $('#StatusTypeID').val(Assigned[i].StatusTypeID);
                            $('#XIComponentsDiv').hide();
                            $('#StepsDDL').val(Assigned[i].XiLinkID);
                            $('#StepsDiv').show();
                        }
                        else{
                            $('#PHContentType').val(0);
                            $('#XiLinksDDLDiv').hide();
                            $('#HTMLContentDiv').hide();
                            $('#StepsDiv').hide();
                        }
                    }
                }
                if(!Found){
                    $('#XiLinksDDLDiv').hide();
                    $('#XIComponentsDiv').hide();
                    $('#HTMLContentDiv').hide();
                    $('#XiLinkDDL').val(0);
                    $('#XiComponentDDL').val(0);
                    $('#MappingID').val(0);
                    $('#StepsDiv').hide();
                    $('#StepsDDL').val(0);
                }

                $('#PHName').html(name);
                $('#PHID').val(phid);
                $('#PHMappingForm').show();
            }
        });
        $('#PHMapSave').click(function () {
            var ContentType = $('#PHContentType').val();
            var XiLinkID = 0;
            if (ContentType == "XiLink"){
                XiLinkID =  $('#XiLinkDDL').val();
            }
            else if (ContentType == "XIComponent"){
                XiLinkID =  $('#XiComponentDDL').val();
            }
            else if (ContentType == "Step"){
                XiLinkID =  $('#StepsDDL').val();
            }
            var MappingID=$('#MappingID').val();
            var HTMLContent = $('#HTMLText').val();
            var PopupId = '@oLayout.PopupID';
            var DialogId = '@oLayout.DialogID';
            @*var InlineId = '@Model.LayoutID';*@
            var InlineId = '@oLayout.ID';
            var PlaceHolderID = $('#PHID').val();
            var IsValueSet = $('#ComponentsParams').val();
            var StatusTypeID = $('#StatusTypeID').val();
            if ((parseInt(PopupId) > 0 || parseInt(DialogId) > 0 || parseInt(InlineId) > 0) && (parseInt(XiLinkID)>0 || HTMLContent.length>0) ) {
                var Mappings = { XiLinkID: XiLinkID, PlaceHolderID: PlaceHolderID, LayoutID:InlineId, PopupID:PopupId, DialogID:DialogId, Type:'@oLayout.LayoutType',StatusTypeID:StatusTypeID, ContentType: ContentType, HTMLCode: HTMLContent, IsValueSet: IsValueSet };
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SaveLayoutMapping", "Popup")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(Mappings),
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        Assigned.push(Mappings);
                        if (ContentType == "XIComponent" && MappingID==0){
                            MappingID = data.ID;
                            var ParamIDs = $('#ParamIDs').val();
                            if(ParamIDs != "" && ParamIDs.length>0){
                                $.ajax({
                                    type: 'get',
                                    url: '@Url.Action("UpdateMappingIDToParams", "XIComponents")',
                                    contentType: "application/json; charset=utf-8",
                                    data: {sType:"Layout", iLoadID: MappingID, Params: ParamIDs},
                                    cache: false,
                                    async: false,
                                    dataType: 'json',
                                    success: function (Mappingdata) {
                                        CustomMessage(Mappingdata.ResponseMessage, Mappingdata.Status);
                                    }
                                });
                            }
                            else{
                                CustomMessage(data.ResponseMessage, data.Status);
                            }
                        }
                        else{
                            CustomMessage(data.ResponseMessage, data.Status);
                        }
                        //window.opener.location.reload();
                    }
                });
            }
            else{
                CustomMessage("Please fill * marked fields", false);
            }
        });
        $('.ResetPopup').click(function () {
            $('#XiLinkDDL').val('0');
            $('#PHContentType').val('0');
            $('#HTMLText').val('');
        });
        $('.CancelMapping').click(function(){
            window.close();
        });

        $('#XIComponentBtn').click(function(){
            var ComponentID = $('#XiComponentDDL').val();
            if(ComponentID>0){
                $.ajax({
                    type: 'get',
                    url: '@Url.Action("GetXIComponentByID", "XIComponents")',
                    contentType: "application/json; charset=utf-8",
                    data: {iXIComponentID: ComponentID, sType:"Layout", ID: $('#MappingID').val()},
                    cache: false,
                    async: false,
                    dataType: 'html',
                    success: function (data) {
                        $('#XICParams').html(data);
                        $("#XICParams").dialog({
                            modal: true,
                            width: 600
                        });
                    }
                });
            }
        });
        $(document.body).on('click', 'input#XIComponentParamsBtn', function () {
            var Component;
            var ComponentID = $('#XiComponentDDL').val();
            if(ComponentID>0){
                $.ajax({
                    type: 'get',
                    url: '@Url.Action("GetXIComponentDetailsByID", "XIComponents")',
                    contentType: "application/json; charset=utf-8",
                    data: {iXIComponentID: ComponentID, sType:"Layout", ID: $('#MappingID').val()},
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        Component = data;
                    }
                });
            }
            var IsValueSet = $('#IsValueSet').val();
            var MappingID = $('#MappingID').val();
            var NVPairs = [];
            $('.NVPairs').each(function () {
                var Name; var Value;
                $(this).find('label').each(function (i, obj) {
                    Name = $(this).attr('data-sName');
                });
                $(this).find('input').each(function (i, obj) {
                    var Nname = obj.name;
                    if (Nname == "Names") {
                        Value = $(this).val();
                    }
                });
                if ((Name && Name.length > 0) && (Value && Value.length > 0)) {
                    //NVPairs.push(Name + "-" + Value);
                    for(i=0;i<Component.XIComponentNVs.length;i++){
                        if(Component.XIComponentNVs[i].sName == Name){
                            Component.XIComponentNVs[i].sValue = Value;
                        }
                    }
                }
            });
            $('.TNVPairs').each(function () {
                var Name; var Value;
                $(this).find('label').each(function (i, obj) {
                    Name = $(this).attr('data-sName');
                });
                $(this).find('input').each(function (i, obj) {
                    var Nname = obj.name;
                    if (Nname == "Names") {
                        Value = $(this).val();
                    }
                });
                if ((Name && Name.length > 0) && (Value && Value.length > 0)) {
                    //NVPairs.push(Name + "-" + Value);
                    for(i=0;i<Component.XIComponentTriggers.length;i++){
                        if(Component.XIComponentTriggers[i].sName == Name){
                            Component.XIComponentTriggers[i].sValue = Value;
                        }
                    }
                }
            });
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveComponentParams", "XIComponents")',
                data: JSON.stringify({ oComponent: Component, sType:"Layout", iLoadID: MappingID }),//JSON.stringify(Component),
                contentType: 'application/json;',
                dataType: 'json',
                traditional: true,
                success: function (data) {
                    $('#ParamIDs').val(data);
                    $("#XICParams").dialog('close');
                    $('#ComponentsParams').val('True');
                }
            });
        });
    });

</script>

<style>
    #LayoutPreview div {
        /**/ min-height: 50px;
        border: 1px solid #b5b5b5;
        text-align: center;
    }

        #LayoutPreview div.row {
            /**/ min-height: 50px;
            border: none;
            /*text-align: center;*/
        }
    /*#LayoutPreview {
        height:150px;
    }*/
</style>


@if (oLayout.ID == 0)
{

}
else
{
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-body">
                    <div class="innerborder">
                        <input type="hidden" id="ID" name="ID" value="@oLayout.ID" />
                        @if (oLayout.ID > 0)
                        {
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label for="inputEmail" class="gn">ID :<span class="danger"></span></label>
                                </div>
                                <div class="col-md-3">
                                    <label for="inputEmail" class="gn">@oLayout.ID<span class="danger"></span></label>
                                </div>
                            </div>
                        }
                        <div class="clearfix m-b-15">
                            <div id="LayoutPreview" class="col-md-12">
                                @Html.Raw(oLayout.LayoutCode)
                            </div>
                        </div>
                        <div id="PHMappingForm" class="">
                            <form class="form-horizontal">
                                <p class="sbold">Select Content for <span id="PHName"></span></p>
                                <input type="hidden" id="MappingID" value="0" />
                                <input type="hidden" id="PHID" />
                                <input type="hidden" id="ComponentsParams" value="False" />
                                <input type="hidden" id="ParamIDs" />

                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label for="inputEmail" class="gn">Type<span class="danger">*</span></label>
                                        <select class="form-control" id="PHContentType">
                                            <option value="0">--Select--</option>
                                            <option value="XiLink">XI Link</option>
                                            <option value="XIComponent">XI Component</option>
                                            <option value="HTML">HTML Code</option>
                                            <option value="Step">Step</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id="HTMLContentDiv">
                                    <div class="col-md-4">
                                        <label for="inputEmail" class="gn">HTML Code<span class="danger">*</span></label>
                                        <textarea rows="20" cols="10" class="form-control" placeholder="HTML Code" id="HTMLText"></textarea>
                                    </div>
                                </div>
                                <div class="form-group" id="XiLinksDDLDiv">
                                    <div class="col-md-6">
                                        <label for="inputEmail" class="gn">XiLink<span class="danger">*</span></label>
                                        <select class="form-control" id="XiLinkDDL">
                                            <option value="0">--Select--</option>
                                            @foreach (var items in oLayout.XiLinks)
                                            {
                                                <option value="@items.Value">@items.text</option>
                                            }
                                        </select>
                                    </div>
                                    <br />
                                    <div class="col-md-6">
                                        <input type="button" class="btn btn-theme btn-xs" value="Refresh" onclick="XiLinkManager('Layout','Refresh')" />
                                        <input type="button" class="btn btn-theme btn-xs" value="Add" onclick="XiLinkManager('Layout','Add')" />
                                        <input type="button" class="btn btn-theme btn-xs" value="Edit" onclick="XiLinkManager('Layout','Edit')" />
                                        <input type="button" class="btn btn-theme btn-xs" value="View" onclick="XiLinkManager('Layout','View')" />
                                    </div>
                                </div>
                                <div class="form-group" id="XIComponentsDiv">
                                    <div class="col-md-6">
                                        <label for="inputEmail" class="gn">XI Component<span class="danger">*</span></label>
                                        <select class="form-control" id="XiComponentDDL">
                                            <option value="0">--Select--</option>
                                            @foreach (var items in oLayout.XIComponents)
                                            {
                                                <option value="@items.Value">@items.text</option>
                                            }
                                        </select>
                                        <button type="button" class="btn btn-theme" id="XIComponentBtn"><i class="fas fa-bars"></i></button>
                                    </div>
                                </div>
                                <div id="StepsDiv" class="form-group">
                                    <div class="col-md-6">
                                        <label for="inputEmail" class="gn">Step<span class="danger">*</span></label>
                                        <select class="form-control" id="StepsDDL">
                                            <option value="0">--Select--</option>
                                            @foreach (var items in oLayout.Steps)
                                            {
                                                <option value="@items.Value">@items.text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label for="inputEmail" class="gn">Status<span class="danger"></span></label>
                                        @*@Html.DropDownListFor(m => m.StatusTypeID, new SelectList(new List<Object>{
                                            new { key= 10 , value = "Active" },
                                            new { key= 20 , value = "Inactive" }
                                            }, "key", "Value"), new { @class = "form-control" })*@
                                        <select class="form-control" id="StatusTypeID">
                                            <option value="">---Select---</option>
                                            <option value="10">Active</option>
                                            <option value="20">Inactive</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <input type="button" class="btn btn-theme" id="PHMapSave" value="Save" />
                                        <button type="button" class="btn btn-theme reverse ResetPopup">Reset</button>
                                        <button type="button" class="btn btn-theme decline CancelMapping">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="MappingGrid"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<div id="XICParams"></div>