@model XICore.XIIComponent
@using XISystem
@using XICore
@{
    List<XIDStructure> oTreeDef = new List<XIDStructure>();
    if (Model.oContent.ContainsKey(XIConstant.XIBOStructureComponent))
    {
        oTreeDef = (List<XIDStructure>)Model.oContent[XIConstant.XIBOStructureComponent];
        if (oTreeDef == null)
        {
            oTreeDef = new List<XIDStructure>();
        }

    }
    var iBODID = 0;
    var sSaveType = string.Empty;
    if (oTreeDef.Count() > 0)
    {
        sSaveType = oTreeDef.FirstOrDefault().sSavingType;
        iBODID = oTreeDef.FirstOrDefault().BOID;
    }
}
<script>
    const content_height = $(window).height() - $('#HomeHeader').height();
    $('.scroll_vh_100').slimScroll({
        //height: '250px',
        height: content_height,
    });
</script>
<section class="">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <h3 class="maintitle">Structure</h3>
                    <!--  <div class="innerborder"> -->
                    <div class="scroll_vh_100 p5">
                        <div class="form-container">
                            @if (!string.IsNullOrEmpty(sSaveType) && sSaveType.ToLower() == "add")
                            {

                            }
                            else
                            {
                                <input type="hidden" id="ID" name="ID" value="@oTreeDef.FirstOrDefault().ID" />
                                if (oTreeDef.FirstOrDefault().ID != 0)
                                {
                                    <div class="form-group row">
                                        <div class="col-md-2">
                                            <label for="inputEmail" class="gn">ID:<span class="danger"></span></label>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputEmail" class="gn">@oTreeDef.FirstOrDefault().ID<span class="danger"></span></label>
                                        </div>
                                    </div>
                                }
                            }

                            @if (oTreeDef.FirstOrDefault().BOID == 0)
                            {
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label for="inputEmail" class="gn">BO Name<span class="danger"></span></label>
                                        @Html.DropDownList("BOID", new SelectList(oTreeDef.FirstOrDefault().ddlAllBOs, "Value", "text", oTreeDef.FirstOrDefault().BOID), new { @class = "form-control", @id = "CreateBOStructure" })
                                    </div>
                                    <div class="col-sm-4 taberrormsg">
                                        @Html.ValidationMessage("BOID", null, new { @class = "red" })
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label for="inputEmail" class="gn">BO Name<span class="danger"></span></label>
                                        @Html.DropDownList("BOID", new SelectList(oTreeDef.FirstOrDefault().ddlAllBOs, "Value", "text", oTreeDef.FirstOrDefault().BOID), new { @class = "form-control", @disabled = "disabled" })
                                        <input type="hidden" name="BOID" id="BOID" value="@oTreeDef.FirstOrDefault().BOID" />
                                    </div>
                                    <div class="col-sm-4 taberrormsg">
                                        @Html.ValidationMessage("BOID", null, new { @class = "red" })
                                    </div>
                                </div>
                            }

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="inputEmail" class="gn">Name<span class="danger">*</span></label>
                                    @Html.TextBox("sStructureName", oTreeDef.FirstOrDefault().sStructureName, new { @class = "form-control", @placeholder = "Structure name here" })
                                </div>
                                <div class="col-sm-4 taberrormsg">

                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="inputEmail" class="gn">Code<span class="danger">*</span></label>
                                    @Html.TextBox("sCode", oTreeDef.FirstOrDefault().sCode, new { @autocomplete = "off", @class = "form-control", @placeholder = "Structure code here" })
                                </div>
                                <div class="col-sm-4 taberrormsg">

                                </div>
                            </div>
                            <div class="form-group row" id="BusinessObj">
                                <div class="col-md-6">
                                    <label for="inputEmail" class="gn">Business Objects<span class="danger"></span></label>
                                    @Html.DropDownList("sBO", new SelectList(oTreeDef.FirstOrDefault().BOList, "Value", "text", oTreeDef.FirstOrDefault().BOID), "--Select--", new { @class = "form-control", @placeholder = "Structure name here", @id = "BODDL" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="inputEmail" class="gn">Entity Type<span class="danger"></span></label>
                                    @Html.DropDownList("sType", new SelectList(new List<Object>{
                                               new { key= "0" , value = "--Select--" },
                                               new { key= "Main BO" , value = "Main Entity" },
                       new { key= "Sub Entity" , value = "Sub Entity" }
                    }, "key", "Value", oTreeDef.FirstOrDefault().sType), new { @class = "form-control", @id = "TypesDDL" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="inputEmail" class="gn">Mode<span class="danger"></span></label>
                                    @Html.DropDownList("sMode", new SelectList(new List<Object>{
                                               new { key= "0" , value = "--Select--" },
                                               new { key= "Single" , value = "Single" },
                       new { key= "Multiple" , value = "Multiple" }
                    }, "key", "Value", oTreeDef.FirstOrDefault().sMode), new { @class = "form-control", @id = "ModeDDL" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    @Html.CheckBox("bIsVisible", oTreeDef.FirstOrDefault().bIsVisible)
                                    <label for="inputEmail" class="gn">Is Visible<span class="danger"></span></label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="inputEmail" class="gn">Parent FK Column<span class="danger">*</span></label>
                                    @Html.TextBox("sParentFKColumn", oTreeDef.FirstOrDefault().sParentFKColumn, new { @class = "form-control", @placeholder = "Parent Foregin key column name" })
                                </div>
                                <div class="col-sm-4 taberrormsg">

                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="inputEmail" class="gn">Linking Type<span class="danger"></span></label>
                                    @Html.DropDownList("sLinkingType", new SelectList(new List<Object>{
                               new { key= "0" , value = "--Select--" },
                                               new { key= "PtoC" , value = "Parent to child" },
                       new { key= "CtoP" , value = "Child to parent" }
                    }, "key", "Value", oTreeDef.FirstOrDefault().sLinkingType), new { @class = "form-control", @id = "LinkingTypeDDL" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="inputEmail" class="gn">Default Step<span class="danger">*</span></label>
                                    @Html.TextBox("FKiStepDefinitionName", oTreeDef.FirstOrDefault().FKiStepDefinitionName, new { @class = "form-control Defaultstep", @id = "DefaultStep", @placeholder = "Enter Step Name" })
                                    @Html.Hidden("FKiStepDefinitionID", oTreeDef.FirstOrDefault().FKiStepDefinitionID, new { @id = "stepdefinationID" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="inputEmail" class="gn">Output Area<span class="danger">*</span></label>
                                    @Html.TextBox("sOutputArea", oTreeDef.FirstOrDefault().sOutputArea, new { @class = "form-control", @id = "soutputareaid", @placeholder = "Enter PlaceHolderUnique Name" })
                                </div>
                                <div class="col-sm-4 taberrormsg">

                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="inputEmail" class="gn">Status<span class="danger"></span></label>
                                    @Html.DropDownList("StatusTypeID", new SelectList(new List<Object>{
                                   new { key= "0" , value = "--Select--" },
                                               new { key= "10" , value = "Active" },
                       new { key= "20" , value = "Inactive" }
                    }, "key", "Value", oTreeDef.FirstOrDefault().StatusTypeID), new { @class = "form-control", @id = "StatusTypeDDL" })
                                </div>
                            </div>

                            <div id="MainDiv" class="form-group row">
                                <div id="XIBOStructTree">

                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <input type="button" class="btn btn-theme" id="BOStructSaveBtn" value="Save" />
                                    @if (sSaveType == null)
                                    {
                                        <input type="button" class="btn btn-theme" id="BOStructRefreshBtn" value="Refresh" />
                                    }
                                    <button type="button" class="btn btn-theme decline" id="CancelBOStruct">Cancel</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="DetailsForm" class="col-md-9"></div>
                    <!--                     </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

<script src="@Url.Content("~/Scripts/treeview/jstree.min.js")"></script>

<link href="@Url.Content("~/Content/jsTree/themes/default/style.min.css")" rel="stylesheet" />

<script type="text/javascript">
    var sStepID=0;
    var BOName;
    var BODID;
    var IsExists = false;
    var NodeId = 1;
    var SelectedNode;
    var Tree = @Html.Raw(Json.Encode(oTreeDef));
    LoadTree(Tree);
    $('#DefaultStep').autocomplete({
        source: function(request, response) {
            var Allqslist = @Html.Raw(Json.Encode(oTreeDef.FirstOrDefault().AllQSSteps.Where(m => !string.IsNullOrEmpty(m.Key))));
            var List = [];
            $.each(Allqslist, function (key, value) {
                List.push({ label: value.Key, value: value.Value });
            });
            response($.ui.autocomplete.filter(List, request.term));
        },
        select: function (event, ui) {
            $("#DefaultStep").val(ui.item.label);
            $("#stepdefinationID").val(ui.item.value);
            return false;
        },
        focus: function (event, ui) {
            $("#DefaultStep").val(ui.item.label);
            return false;
        }
    });

    $(document).ready(function () {
        $('#bIsVisible').prop('checked', false);
        $('#BOStructSaveBtn').click(function(){
            var TreePairs= [];
            var sStructureName = $('#sStructureName').val();
            var sCode = $('#sCode').val();
            var iStructID = $('#ID').val();
            if(sStructureName && sCode && sStructureName.length > 0 && sCode.length > 0){
                for(i=0;i<Tree.length;i++){
                    TreePairs.push({
                        ID:Tree[i].ID,
                        FKiParentID : Tree[i].FKiParentID,
                        BOID : Tree[i].BOID,
                        sBO : Tree[i].sBO,
                        sType : Tree[i].sType,
                        sName:Tree[i].sName,
                        sStructureName:Tree[i].sStructureName,
                        sCode:Tree[i].sCode,
                        FKiStepDefinitionID : Tree[i].FKiStepDefinitionID,
                        sOutputArea : Tree[i].sOutputArea,
                        sMode:Tree[i].sMode,
                        sParentFKColumn:Tree[i].sParentFKColumn,
                        sLinkingType:Tree[i].sLinkingType,
                        bMasterEntity:Tree[i].bMasterEntity,
                        bIsAutoCreateDone:Tree[i].bIsAutoCreateDone,
                        StatusTypeID : Tree[i].StatusTypeID,
                        sSavingType: Tree[i].sSavingType
                    });
                }
                var model = { oStructure: TreePairs, sStructureName:sStructureName, sCode:sCode};
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Save_BOStructure", "BusinessObjects")',
                    data: JSON.stringify(model),
                    contentType: 'application/json;',
                    dataType: 'json',
                    traditional: true,
                    async: false,
                    success: function (data) {
                        if(data == true)
                        {
                            CustomMessage("Success! Data Saved Successfully", true);
                        }
                        else
                        {
                            CustomMessage("Failure! Error Occured", false);
                        }
                    }
                });
            }
            else{
                CustomMessage('Plese fill * marked fields', false);
            }
        });

        $('#BOStructRefreshBtn').click(function(){
            debugger
            var BODID = '@iBODID';
            var iStructID = $('#ID').val();
            var sCode = $('#sCode').val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Refresh_BOStructure", "BusinessObjects")',
                data: JSON.stringify({ iBODID: BODID, ID:iStructID}),
                contentType: 'application/json;',
                dataType: 'json',
                traditional: true,
                async: false,
                success: function (NewNodes) {
                    debugger
                    if(NewNodes && NewNodes.length >0){
                        var tree = $("#XIBOStructTree").jstree(true);
                        var ParentNode = $("#XIBOStructTree").jstree(true).get_node(iStructID);
                        for(var i=0;i<NewNodes.length;i++){
                            var id = NewNodes[i].ID;
                            var Node = $("#XIBOStructTree").jstree(true).get_node(id);
                            if(Node && Node.id > 0){}
                            else if(NewNodes[i].sName && NewNodes[i].sName.length >0){
                                var data = [];
                                var attr={};
                                attr["BODID"] = 0;
                                data.push(attr);
                                var attr={};
                                attr["Type"] = '';
                                data.push(attr);
                                var attr={};
                                attr["sMode"] = '';
                                data.push(attr);
                                var attr={};
                                attr["bIsVisible"] = '';
                                data.push(attr);
                                var attr={};
                                attr["sParentFKColumn"] = '';
                                data.push(attr);
                                var attr={};
                                attr["sLinkingType"] = '';
                                data.push(attr);
                                var attr={};
                                attr["FKiStepDefinitionID"] = 0;
                                data.push(attr);
                                var attr={};
                                attr["sOutputArea"] = '';
                                data.push(attr);
                                var attr={};
                                attr["StatusTypeID"] = 0;
                                data.push(attr);
                                tree.create_node(ParentNode, { text: NewNodes[i].sName, type: 'default', id: NewNodes[i].ID, data:data });
                                var item = {};
                                item["ID"] = NewNodes[i].ID
                                item["FKiParentID"] = ParentNode.id;
                                item["sName"] = NewNodes[i].sName;
                                item["sSavingType"] = 'Add';
                                $('#StatusTypeDDL').val(0);
                                Tree.push(item);
                            }
                        }
                    }
                }
            });
        })

        $('#CancelBOStruct').click(function (){
            window.close();
        });

        $('#CreateBOStructure').change(function(){
            var iBOID = $('#CreateBOStructure option:selected').val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Get_BOStructureDetails", "BusinessObjects")',
                data: JSON.stringify({ iBOID: iBOID}),
                contentType: 'application/json;',
                dataType: 'json',
                traditional: true,
                async: false,
                success: function (data) {
                    if (data.length > 0) {
                        Tree = data;
                        LoadTree(data);
                    }
                }
            });
        });

        $('#BODDL').change(function(){
            $('#TypesDDL').val(0);
            $('#ModeDDL').val(0);

            var BOName;
            if($(this).val()>0){
                BOName = $('#BODDL :selected').text();
                BODID = $('#BODDL :selected').val();
            }
            if(SelectedNode.id > 0 && BOName.length>0){
                var id = SelectedNode.id;
                var ChangeText = SelectedNode.text;
                $("#XIBOStructTree").jstree('rename_node', SelectedNode , BOName );
                $("#XIBOStructTree").jstree(true).get_node(id).data[0].BODID = BODID;
                var nid = $("#XIBOStructTree").jstree(true).get_node(id)
                //if(ChangeText == 'New Node')
                //{
                //    $("#XIBOStructTree").jstree('rename_node', SelectedNode , BOName );
                //}
                for(i=0;i<Tree.length;i++){
                    if(Tree[i].ID == id){
                        Tree[i].sName = BOName;
                        Tree[i].BOID = BODID;
                    }
                }
            }
        });

        $('#TypesDDL').change(function(){
            var sType;
            if($(this).val().length>0 && $(this).val() != 0){
                sType = $('#TypesDDL :selected').val();
            }
            else if($(this).val() == 0){
                if(SelectedNode.id > 0){
                    var id = SelectedNode.id;
                    $('#XIBOStructTree').jstree(true).get_node(id).data.Type = null;
                    for(i=0;i<Tree.length;i++){
                        if(Tree[i].ID == id){
                            Tree[i].sType = null;
                        }
                    }
                }
            }
            if(SelectedNode.id > 0 && sType && sType.length>0){
                var id = SelectedNode.id;
                if($('#XIBOStructTree').jstree(true).get_node(id).data != null)
                {
                    $('#XIBOStructTree').jstree(true).get_node(id).data.Type = sType;
                }
                for(i=0;i<Tree.length;i++){
                    if(Tree[i].ID == id){
                        Tree[i].sType = sType;
                    }
                }
            }
        });

        $('#ModeDDL').change(function(){
            var sMode;
            if($(this).val().length>0 && $(this).val() != 0){
                sMode = $('#ModeDDL :selected').val();
            }
            else if($(this).val() == 0){
                if(SelectedNode.id > 0){
                    var id = SelectedNode.id;
                    $('#XIBOStructTree').jstree(true).get_node(id).data.sMode = null;
                    for(i=0;i<Tree.length;i++){
                        if(Tree[i].ID == id){
                            Tree[i].sMode = null;
                        }
                    }
                }
            }
            if(SelectedNode.id > 0 && sMode && sMode.length>0){
                var id = SelectedNode.id;
                if($('#XIBOStructTree').jstree(true).get_node(id).data != null)
                {
                    $('#XIBOStructTree').jstree(true).get_node(id).data.sMode = sMode;
                }
                for(i=0;i<Tree.length;i++){
                    if(Tree[i].ID == id){
                        Tree[i].sMode = sMode;
                    }
                }
            }
        });

        $('#StatusTypeDDL').change(function(){
            var StatusTypeID;
            if($(this).val().length>0 && $(this).val() != 0){
                StatusTypeID = $('#StatusTypeDDL :selected').val();
            }
            else if($(this).val() == 0){
                if(SelectedNode.id > 0){
                    var id = SelectedNode.id;
                    $('#XIBOStructTree').jstree(true).get_node(id).data.StatusTypeID = null;
                    for(i=0;i<Tree.length;i++){
                        if(Tree[i].ID == id){
                            Tree[i].StatusTypeID = null;
                        }
                    }
                }
            }
            if(SelectedNode.id > 0 && StatusTypeID && StatusTypeID.length>0){
                var id = SelectedNode.id;
                if($('#XIBOStructTree').jstree(true).get_node(id).data != null)
                {
                    $('#XIBOStructTree').jstree(true).get_node(id).data.StatusTypeID = StatusTypeID;
                }
                for(i=0;i<Tree.length;i++){
                    if(Tree[i].ID == id){
                        Tree[i].StatusTypeID = StatusTypeID;
                    }
                }
            }
        });

        $('#LinkingTypeDDL').change(function(){
            var sLinkingType;
            if($(this).val().length>0 && $(this).val() != 0){
                sLinkingType = $('#LinkingTypeDDL :selected').val();
            }
            else if($(this).val() == 0){
                if(SelectedNode.id > 0){
                    var id = SelectedNode.id;
                    $('#XIBOStructTree').jstree(true).get_node(id).data.sLinkingType = null;
                    for(i=0;i<Tree.length;i++){
                        if(Tree[i].ID == id){
                            Tree[i].sLinkingType = null;
                        }
                    }
                }
            }
            if(SelectedNode.id > 0 && sLinkingType && sLinkingType.length>0){
                var id = SelectedNode.id;
                if($('#XIBOStructTree').jstree(true).get_node(id).data != null)
                {
                    $('#XIBOStructTree').jstree(true).get_node(id).data.sLinkingType = sLinkingType;
                }
                for(i=0;i<Tree.length;i++){
                    if(Tree[i].ID == id){
                        Tree[i].sLinkingType = sLinkingType;
                    }
                }
            }
        });
        $('#sParentFKColumn').change(function(){
            var sParentFKColumn;
            if($(this).val().length>0 && $(this).val() != 0){
                sParentFKColumn = $('#sParentFKColumn').val();
            }
            else if($(this).val() == '' || $(this).val().length == 0){
                if(SelectedNode.id > 0){
                    var id = SelectedNode.id;
                    $('#XIBOStructTree').jstree(true).get_node(id).data.sParentFKColumn = null;
                    for(i=0;i<Tree.length;i++){
                        if(Tree[i].ID == id){
                            Tree[i].sParentFKColumn = null;
                        }
                    }
                }
            }
            if(SelectedNode.id > 0 && sParentFKColumn && sParentFKColumn.length>0){
                var id = SelectedNode.id;
                $('#XIBOStructTree').jstree(true).get_node(id).data.sParentFKColumn = sParentFKColumn;
                for(i=0;i<Tree.length;i++){
                    if(Tree[i].ID == id){
                        Tree[i].sParentFKColumn = sParentFKColumn;
                    }
                }
            }
        })

        $('#bIsVisible').change(function(){
            if($('#bIsVisible').is(':checked')){
                var bIsVisible = true;
                if(SelectedNode.id > 0){
                    var id = SelectedNode.id;
                    $('#XIBOStructTree').jstree(true).get_node(id).data.bIsVisible = bIsVisible;
                    for(i=0;i<Tree.length;i++){
                        if(Tree[i].ID == id){
                            Tree[i].bIsVisible = bIsVisible;
                        }
                    }
                }
            }
            else{
                var bIsVisible = false;
                if(SelectedNode.id > 0){
                    var id = SelectedNode.id;
                    $('#XIBOStructTree').jstree(true).get_node(id).data.bIsVisible = false;
                    for(i=0;i<Tree.length;i++){
                        if(Tree[i].ID == id){
                            Tree[i].bIsVisible = false;
                        }
                    }
                }
            }
        });

        $('#DefaultStep').change(function(){
            var sStepName;
            var iStepDefinationID;
            if($(this).val().length>0 && $(this).val() != 0){
                sStepName = $('#DefaultStep').val();
                iStepDefinationID = $('#stepdefinationID').val();
            }
            else if($(this).val() == '' || $(this).val().length == 0){
                if(SelectedNode.id > 0){
                    var id = SelectedNode.id;
                    $('#XIBOStructTree').jstree(true).get_node(id).data.FKiStepDefinitionID = null;
                    for(i=0;i<Tree.length;i++){
                        if(Tree[i].ID == id){
                            Tree[i].FKiStepDefinitionID = null;
                        }
                    }
                }
            }
            if(SelectedNode.id > 0 && sStepName && sStepName.length>0){
                var id = SelectedNode.id;
                $('#XIBOStructTree').jstree(true).get_node(id).data.FKiStepDefinitionID = iStepDefinationID;
                for(i=0;i<Tree.length;i++){
                    if(Tree[i].ID == id){
                        Tree[i].FKiStepDefinitionID = iStepDefinationID;
                    }
                }
            }
        })

        $('#soutputareaid').change(function(){
            var sOutputArea;
            if($(this).val().length>0 && $(this).val() != 0){
                sOutputArea = $('#soutputareaid').val();
            }
            else if($(this).val() == '' || $(this).val().length == 0){
                if(SelectedNode.id > 0){
                    var id = SelectedNode.id;
                    $('#XIBOStructTree').jstree(true).get_node(id).data.sOutputArea = null;
                    for(i=0;i<Tree.length;i++){
                        if(Tree[i].ID == id){
                            Tree[i].sOutputArea = null;
                        }
                    }
                }
            }
            if(SelectedNode.id > 0 && sOutputArea && sOutputArea.length>0){
                var id = SelectedNode.id;
                $('#XIBOStructTree').jstree(true).get_node(id).data.sOutputArea = sOutputArea;
                for(i=0;i<Tree.length;i++){
                    if(Tree[i].ID == id){
                        Tree[i].sOutputArea = sOutputArea;
                    }
                }
            }
        })
        $('#CreateStructure').click(function () {
            $('body').block({
                message: '<h4>Saving</h4>',
                blockMsgClass: 'report-success',
            });
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveBODetailsToXIStructure", "BusinessObjects")',
                data: JSON.stringify({ BOID: 0, BOName: BOName }),
                contentType: 'application/json;',
                dataType: 'json',
                traditional: true,
                async: false,
                success: function (data) {
                    if (data.Status && !data.Status) {
                        CustomMessage(data.ResponseMessage, data.Status)
                        $('body').unblock();
                    }
                    else {
                        if(data.length > 0){
                            LoadTree(data);
                        }
                        else {
                            $('body').unblock();
                        }
                    }
                }
            });
        });
    });

    function LoadTree(data){
        var jsondata = [];
        var Nodes = data;
        if (Nodes && Nodes != null) {
            var j = 0;
            for (var i = 0; i < Nodes.length; i++) {
                var item = {}
                item["id"] = Nodes[i].ID;
                if (Nodes[i].FKiParentID == null) {
                    item["parent"] = "#";
                }
                else {
                    item["parent"] = Nodes[i].FKiParentID;
                }

                item["text"] = Nodes[i].sName;
                var data = [];
                var attr={};
                attr["BODID"] = Nodes[i].BOID;
                data.push(attr);
                var attr={};
                attr["Type"] = Nodes[i].sType;
                data.push(attr);
                var attr={};
                attr["sMode"] = Nodes[i].sMode;
                data.push(attr);
                var attr={};
                attr["bIsVisible"] = Nodes[i].bIsVisible;
                data.push(attr);
                var attr={};
                attr["sParentFKColumn"] = Nodes[i].sParentFKColumn;
                data.push(attr);
                var attr={};
                attr["sLinkingType"] = Nodes[i].sLinkingType;
                data.push(attr);
                var attr={};
                attr["FKiStepDefinitionID"] = Nodes[i].FKiStepDefinitionID;
                data.push(attr);
                var attr={};
                attr["sOutputArea"] = Nodes[i].sOutputArea;
                data.push(attr);
                var attr={};
                attr["StatusTypeID"] = Nodes[i].StatusTypeID;
                data.push(attr);
                item["data"] = data;

                jsondata.push(item);
            }
            if (jsondata.length > 0) {
                var jsonString = JSON.stringify(jsondata);
                createJSTree(JSON.parse(jsonString));
                $('body').unblock();
            }
        }
    }


    //check if main node "Add Menu"
    function CheckIfMain($node) {
        var NodeID = $node.id;
        if (NodeID == "1") {
            return 0;
        }
        else {
            return 1;
        }

    }

    function RenameNode($node, action) {
        var NodeID = $node.id;
        var NodeTitle = $node.text;
        for(i=0;i<Tree.length;i++){
            if(Tree[i].ID == NodeID)
            {
                Tree[i].sName = NodeTitle;
            }
        }
    }

    //Add details form
    function AddDetails($node) {
        var AddPopups = [];
        var NodeID = $node.id;
        var ChldnID = $node.children_d;
        var ParentID = $node.parent;
        var NodeTitle = $node.text;

        if (NodeID != "1") {
            var ID = $(this).attr('id');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddDetailsForStructure", "BusinessObjects")',
                data: { ParentNode: ParentID, NodeID: NodeID },
                cache: false,
                async: false,
                dataType: 'html',
                success: function (data) {
                    if (data != null) {
                        $("#DetailsForm").empty();
                        $("#DetailsForm").append(data);
                    }
                }
            });
        }
        else {

        }
    }
    //delete
    function DeleteNodeDetails($node, action) {
        var NodeID = $node.id;
        var ChldnID = $node.children_d;
        var ChildrnID = "";
        for (var i = 0; i < ChldnID.length; i++) {
            var chldID = ChldnID[i];
            ChildrnID = chldID + "," + ChildrnID;

        }
        var ChildrnIDs = ChildrnID.substring(0, ChildrnID.length - 1);
        var ParentID = $node.parent;
        var NodeTitle = $node.text;
        if (NodeID != "1" && ParentID != "#") {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteNodeDetails", "BusinessObjects")',
                data: { BOID: BOID, ParentNode: ParentID, NodeID: NodeID, ChildrnIDs: ChildrnIDs, Type: action },
                cache: false,
                dataType: 'json',
                success: function (data) {
                    //you can also remove this... as client side has the details and on load we are displaying above
                    if (data != null) {
                        var jsondata = [];
                        for (var i = 0; i < data.length; i++) {
                            var ID = data[i].ID;
                            var Parent = data[i].FKiParentID;
                            var text = data[i].sName;

                            item = {}
                            item["id"] = ID;
                            item["parent"] = Parent;
                            item["text"] = text;
                            jsondata.push(item);

                        }
                        var jsonString = JSON.stringify(jsondata);
                    }
                    else {
                        jsonString = [
                           { "id": "1", "parent": "#", "text": "XIStructure" }
                        ];
                    }
                    //call function to recreate tree
                    //createJSTree(JSON.parse(jsonString));
                    //$('#jstree').jstree(true).settings.core.data = jsonString;
                    //$('#jstree').jstree(true).refresh();
                }
            });
        }
        else {

        }

    }

    function createJSTree(jsondata) {
        $('#XIBOStructTree').empty();
        $('#XIBOStructTree').removeAttr('class');
        $('#XIBOStructTree').jstree({
            "core": {
                "themes": {
                    "variant": "large"
                },
                "check_callback": true,
                'data': jsondata,
            },
            "plugins": ["contextmenu", "dnd"],
            "dnd": {},
            "contextmenu": {
                "items": function ($node) {
                    var tree = $("#XIBOStructTree").jstree(true);
                    return {
                        "Create": {
                            "separator_before": false,
                            "separator_after": true,
                            "label": "Create",
                            action: function (obj) {
                                var data = [];
                                var attr={};
                                attr["BODID"] = 0;
                                data.push(attr);
                                var attr={};
                                attr["Type"] = '';
                                data.push(attr);
                                var attr={};
                                attr["sMode"] = '';
                                data.push(attr);
                                var attr={};
                                attr["bIsVisible"] = '';
                                data.push(attr);
                                var attr={};
                                attr["sParentFKColumn"] = '';
                                data.push(attr);
                                var attr={};
                                attr["sLinkingType"] = '';
                                data.push(attr);
                                var attr={};
                                attr["FKiStepDefinitionID"] = 0;
                                data.push(attr);
                                var attr={};
                                attr["sOutputArea"] = '';
                                data.push(attr);
                                var attr={};
                                attr["StatusTypeID"] = 0;
                                data.push(attr);
                                var ID = 0;
                                var ParentNode = $node.id;
                                $node = tree.create_node($node, { text: 'New Node', type: 'default', id: NodeId, data:data });
                                tree.deselect_all();
                                tree.select_node($node);
                                var item = {};
                                item["ID"] = NodeId
                                item["FKiParentID"] = ParentNode;
                                item["sName"] = 'New Node';
                                item["sSavingType"] = 'Add';
                                $('#StatusTypeDDL').val(0);
                                Tree.push(item);
                                NodeId++;
                                @*$.ajax({
                                    type: 'POST',
                                    url: '@Url.Action("CreateAndSaveTreeNode", "BusinessObjects")',
                                    data: { BOID: BOID, ParentNode: ParentNode, NodeID: '', NodeTitle: 'New Menu', Type: 'create' },
                                    cache: false,
                                    dataType: 'json',
                                    success: function (data) {
                                        if (parseInt(data) > 0) {
                                            ID = parseInt(data);
                                            $node = tree.create_node($node, { text: 'New Menu', type: 'default', id: ID });
                                            tree.deselect_all();
                                            tree.select_node($node);
                                        }
                                        else {
                                            alert('Error Occurred');
                                        }
                                    }
                                });*@
                            }
                        },
                        "Rename": {
                            "separator_before": false,
                            "separator_after": false,
                            "label": "Rename",
                            "action": function (obj) {
                                tree.edit($node, null, function (node, status) {
                                    if (node.original.text != node.text) {
                                        RenameNode($node, "rename");
                                        //var id = $node.id;
                                        //for(i=0;i<Tree.length;i++){
                                        //    if(Tree[i].ID == id){
                                        //        Tree[i].sName = $node.text;
                                        //    }
                                        //}
                                    }
                                });

                                //var CheckNode = CheckIfMain($node);
                                //if (CheckNode == '1') {
                                //    tree.edit($node, null, function (node, status) {
                                //        if (node.original.text != node.text) {
                                //            //RenameAndSaveToDB($node, "rename");
                                //        }
                                //    });
                                //}

                            }
                        },
                        "Remove": {
                            "separator_before": false,
                            "separator_after": false,
                            "label": "Remove",
                            "action": function (obj) {
                                tree.delete_node($node);
                                var id =  $node.id;
                                for(i=0;i<Tree.length;i++){
                                    if(Tree[i].ID== id){
                                        Tree.splice(i, 1);
                                    }
                                }
                                //var CheckNode = CheckIfMain($node);
                                //if (CheckNode == '1') {
                                //    tree.delete_node($node);
                                //    //DeleteNodeDetails($node, "delete");
                                //}
                            }
                        },
                        "AddDetails": {
                            "separator_before": false,
                            "separator_after": false,
                            "label": "Add Details",
                            "action": function (obj) {
                                var CheckNode = CheckIfMain($node);
                                if (CheckNode == '1') {
                                    //AddDetails($node);
                                    AddStructureDetails($node);
                                }
                            }
                        }
                    };
                }
            },
            //}).bind("move_node.jstree", function (e, data) {
            //    DragAndDropNodes(data)
        }).bind("move_node.jstree", function (e, data) {
            DragAndDropNodes(data)
        }).bind("loaded.jstree", function (event, data) {
            $(this).jstree("close_all");
        }).bind("select_node.jstree", function (NODE, REF_NODE) {
            var BODID;
            var Type;
            var sMode;
            var bIsVisible;
            var sParentFKColumn;
            var sLinkingType;
            var StatusTypeID;
            var iStepID;
            var sOutputArea;
            SelectedNode = REF_NODE.node;
            if(SelectedNode.data != null)
            {
                BODID = SelectedNode.data[0].BODID;
                Type = SelectedNode.data[1].Type;
                sMode = SelectedNode.data[2].sMode;
                bIsVisible = SelectedNode.data[3].bIsVisible;
                sParentFKColumn = SelectedNode.data[4].sParentFKColumn;
                sLinkingType = SelectedNode.data[5].sLinkingType;
                StatusTypeID = SelectedNode.data[8].StatusTypeID;
                sOutputArea = SelectedNode.data[7].sOutputArea;
                iStepID = SelectedNode.data[6].FKiStepDefinitionID;
                if(!Type){
                    Type = $('#XIBOStructTree').jstree(true).get_node(SelectedNode.id).data.Type;
                }
                if(!sMode){
                    sMode = $('#XIBOStructTree').jstree(true).get_node(SelectedNode.id).data.sMode;
                }
                if(!bIsVisible){
                    bIsVisible = $('#XIBOStructTree').jstree(true).get_node(SelectedNode.id).data.bIsVisible;
                }
                if(!sParentFKColumn){
                    sParentFKColumn = $('#XIBOStructTree').jstree(true).get_node(SelectedNode.id).data.sParentFKColumn;
                }
                if(!sLinkingType){
                    sLinkingType = $('#XIBOStructTree').jstree(true).get_node(SelectedNode.id).data.sLinkingType;
                }
                if(!StatusTypeID){
                    StatusTypeID = $('#XIBOStructTree').jstree(true).get_node(SelectedNode.id).data.StatusTypeID;
                }
                if(!iStepID){
                    iStepID = $('#XIBOStructTree').jstree(true).get_node(SelectedNode.id).data.FKiStepDefinitionID;
                }
                if(!sOutputArea){
                    sOutputArea = $('#XIBOStructTree').jstree(true).get_node(SelectedNode.id).data.sOutputArea;
                }
                if(BODID && BODID > 0){
                    $('#BODDL').val(BODID);
                }
                if(Type && Type.length > 0){
                    $('#TypesDDL').val(Type);
                }
                else{
                    $('#TypesDDL').val(0);
                }
                if(sMode && sMode.length > 0){
                    $('#ModeDDL').val(sMode);
                }
                else{
                    $('#ModeDDL').val(0);
                }
                if(bIsVisible){
                    $('#bIsVisible').prop('checked', true);
                }
                else{
                    $('#bIsVisible').prop('checked', false);
                }
                if(sParentFKColumn && sParentFKColumn.length > 0){
                    $('#sParentFKColumn').val(sParentFKColumn);
                }
                else{
                    $('#sParentFKColumn').val('');
                }
                if(sLinkingType && sLinkingType.length > 0){
                    $('#LinkingTypeDDL').val(sLinkingType);
                }
                else{
                    $('#LinkingTypeDDL').val(0);
                }
                if(StatusTypeID > 0){
                    $('#StatusTypeDDL').val(StatusTypeID);
                }
                else{
                    $('#StatusTypeDDL').val(0);
                }
                if(iStepID > 0){
                    const AllSteps = @Html.Raw(Json.Encode(oTreeDef.FirstOrDefault().AllQSSteps));
                    var sStepName =  getKeyByValue(AllSteps,iStepID);
                    function getKeyByValue(object, value) {
                        return Object.keys(object).find(key => object[key] === value);
                    }
                    $('#DefaultStep').val(sStepName);
                    $('#stepdefinationID').val(iStepID);
                }
                else{
                    $('#DefaultStep').val('');
                    $('#stepdefinationID').val(0);
                }
                if(!sOutputArea){
                    $('#soutputareaid').val(sOutputArea);
                }
                else{
                    $('#soutputareaid').val('');
                }
            }
        });
    }

    function DragAndDropNodes(data) {
        var NodeID = data.node.id;
        var OldParentID = data.old_parent;
        var old_position = data.old_position;
        var position = data.position;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DragAndDropNodes", "BusinessObjects")',
            data: { NodeID: NodeID, OldParentID: OldParentID, Oldposition: old_position, Newposition: position },
            cache: false,
            dataType: 'json',
            success: function (data) { }
        });
    }
</script>
