@model XICore.XIIComponent
@using XISystem
@using XICore
@{
    XIDBO oBOD = new XIDBO();
    XIIBO oBOI = new XIIBO();
    XILink oXILink = new XILink();
    if (Model.oContent.ContainsKey(XIConstant.XilinkComponent))
    {
        oXILink = (XILink)Model.oContent[XIConstant.XilinkComponent];
        if (oXILink == null)
        {
            oXILink = new XILink();
        }
    }
}
<style>
    .taberrormsg {
        margin-top: 30px;
    }
</style>
<script>
    $(document).ready(function () {
        if (parseInt('@oXILink.XiLinkID')) {
            $('#StatusTypeID').val('@oXILink.StatusTypeID');
            $('#sType').val('@oXILink.sType');
        }
        $('#AddMore').click(function () {
            var Divs = $('.NVPairs').first().clone();
            $(Divs).find('input').val('');
            $('#NameValuePairs').append(Divs);
            $('.NVPairs').last().css("display", "block");
        });
        $(document.body).on('click', 'input.AddMoreList', function () {
            var Divs = $('.LNVPairs').first().clone();
            $(Divs).find('input').val('');
            $(Divs).filter('.LNVPairs').css("display", "block");
            $(this).closest(".amlist").before(Divs);
        });
        $('.AddList').click(function () {
            var Divs = $('.Lists').first().clone();
            var TextBoxs = $(Divs).find('.LNVPairs').css("display", "block");
            for (i = 0; i < TextBoxs.length; i++) {
                if (i >= 1) {
                    $(TextBoxs[i]).remove();
                }
            }
            $(Divs).find('input[type=text]').val('');
            $(this).closest(".alist").before(Divs);
        });

        $(document.body).on('click', 'button.DeleteNVPairs', function () {
            $(this).closest(".NVPairs").hide();
        });

        $(document.body).on('click', 'button.DeleteLNVPair', function () {
            $(this).closest('.LNVPairs').hide();
        });

        $('#SaveXiLink').click(function () {
            var empty = $('#XiLinkForm').find("input.req").filter(function () {
                return this.value === "";
            });
            if (empty.length) {
                CustomMessage("Please fill * marked fields", false);
            }
            else {
                var XiLinkID = $('#XiLinkID').val();
                var XiLinkName = $('#Name').val();
                var XiLinkURL = $('#URL').val();
                var OneClickID = $('#OneClickID').val();
                var ApplicationID = $('#FKiApplicationID').val();
                var ComponentID = $('#XiComponentDDL').val();
                var Status = $('#StatusTypeID').val();
                var Active = $('#sActive').val();
                var XiLinkType = $('#sType').val();
                var NVPairs = [];
                $('.NVPairs:visible').each(function () {
                    var Name; var Value;
                    $(this).find('input').each(function (i, obj) {
                        var Nname = obj.name;
                        if (Nname == "Names") {
                            Name = $(this).val();
                        }
                        else if (Nname == "Values") {
                            Value = $(this).val();
                        }
                    });
                    if (Name.length > 0 && Value.length > 0) {
                        NVPairs.push(Name + "^" + Value);
                    }
                });
                var LNVPairs = [];
                $('.Lists').each(function () {
                    var LName = $(this).find('input.ListName').val();
                    //LName = "ListName-" + LName;
                    if (LName.length > 0) {
                        LNVPairs.push(LName);
                        $(this).find('.LNVPairs:visible').each(function (i, obj) {
                            var Name; var Value;
                            $(this).find('input').each(function (i, obj) {
                                var Nname = obj.name;
                                if (Nname == "ListNames") {
                                    Name = $(this).val();
                                }
                                else if (Nname == "ListValues") {
                                    Value = $(this).val();
                                }
                            });
                            if (Name.length > 0 && Value.length > 0) {
                                LNVPairs.push(LName + "^" + Name + "^" + Value);
                            }
                        });
                    }
                });
                var model = { XiLinkID: $('#XiLinkID').val(), Name: XiLinkName, URL: XiLinkURL, OneClickID: OneClickID, FKiApplicationID: ApplicationID, NVPairs: NVPairs, LNVPairs: LNVPairs, FKiComponentID: ComponentID, Status: Status, sActive: Active, sType: XiLinkType };
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Save_Xilink", "XiLink")',
                    data: JSON.stringify(model),
                    contentType: 'application/json;',
                    dataType: 'json',
                    traditional: true,
                    success: function (data) {
                        CustomMessage(data.ResponseMessage, true);
                        var ComponentID = $('#XiComponentDDL').val();
                        if (ComponentID > 0 && XiLinkID == 0) {
                            XiLinkID = data.ID;
                            var ParamIDs = $('#ParamIDs').val();
                            if (ParamIDs != "" && ParamIDs.length > 0) {
                                $.ajax({
                                    type: 'get',
                                    url: '@Url.Action("UpdateMappingIDToParams", "XIComponents")',
                                    contentType: "application/json; charset=utf-8",
                                    data: { sType: "XiLink", iLoadID: XiLinkID, Params: ParamIDs },
                                    cache: false,
                                    async: false,
                                    dataType: 'json',
                                    success: function (Mappingdata) {
                                        CustomMessage(Mappingdata.ResponseMessage, Mappingdata.Status);
                                    }
                                });
                            }
                            else {
                                CustomMessage(data.ResponseMessage, data.Status);
                            }
                        }
                        //opener.window.location.reload();
                    }
                });
            }
        });
        $('#XIComponentBtn').click(function () {
            var ComponentID = $('#XiComponentDDL').val();
            if (ComponentID > 0) {
                $.ajax({
                    type: 'get',
                    url: '@Url.Action("GetXIComponentByID", "XIComponents")',
                    contentType: "application/json; charset=utf-8",
                    data: { iXIComponentID: ComponentID, sType: "XiLink", ID: '@oXILink.XiLinkID' },
                    cache: false,
                    async: false,
                    dataType: 'html',
                    success: function (data) {
                        $('#XILinkCParams').html(data);
                        $("#XILinkCParams").dialog({
                            modal: true,
                            width: 600
                        });
                    }
                });
            }
        });
        $(document.body).on('click', 'input#XIComponentParamsBtn', function () {
            var Component;
            var ComponentID = $('#XiComponentDDL').val();
            if (ComponentID > 0) {
                $.ajax({
                    type: 'get',
                    url: '@Url.Action("GetXIComponentDetailsByID", "XIComponents")',
                    contentType: "application/json; charset=utf-8",
                    data: { iXIComponentID: ComponentID, sType: "XiLink", ID: '@oXILink.XiLinkID' },
                    cache: false,
                    async: false,
                    dataType: 'json',
                    success: function (data) {
                        Component = data;
                    }
                });
            }
            var XiLinkID = $('#XiLinkID').val();
            var NVPairs = [];
            $('.NVPairs').each(function () {
                var Name; var Value;
                $(this).find('label').each(function (i, obj) {
                    Name = $(this).attr('data-sName');
                });
                $(this).find('input').each(function (i, obj) {
                    var Nname = obj.name;
                    if (Nname == "Names") {
                        Value = $(this).val();
                    }
                });
                if ((Name && Name.length > 0) && (Value && Value.length > 0)) {
                    //NVPairs.push(Name + "-" + Value);
                    for (i = 0; i < Component.XIComponentNVs.length; i++) {
                        if (Component.XIComponentNVs[i].sName == Name) {
                            Component.XIComponentNVs[i].sValue = Value;
                        }
                    }
                }
            });
            $('.TNVPairs').each(function () {
                var Name; var Value;
                $(this).find('label').each(function (i, obj) {
                    Name = $(this).attr('data-sName');
                });
                $(this).find('input').each(function (i, obj) {
                    var Nname = obj.name;
                    if (Nname == "Names") {
                        Value = $(this).val();
                    }
                });
                if ((Name && Name.length > 0) && (Value && Value.length > 0)) {
                    //NVPairs.push(Name + "-" + Value);
                    for (i = 0; i < Component.XIComponentTriggers.length; i++) {
                        if (Component.XIComponentTriggers[i].sName == Name) {
                            Component.XIComponentTriggers[i].sValue = Value;
                        }
                    }
                }
            });
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveComponentParams", "XIComponents")',
                data: JSON.stringify({ oComponent: Component, sType: "XiLink", iLoadID: XiLinkID }),//JSON.stringify(Component),
                contentType: 'application/json;',
                dataType: 'json',
                traditional: true,
                success: function (data) {
                    $('#ParamIDs').val(data);
                    $("#XILinkCParams").dialog('close');
                }
            });
        });
    });
</script>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="innerborder">
                        <form id="XiLinkForm" class="form-horizontal">
                            <div id="clear-text">
                                <input type="hidden" value="@oXILink.XiLinkID" id="XiLinkID" />
                                <input type="hidden" id="ParamIDs" />
                                @*<input type="hidden" id="FKiApplicationID" name="FKiApplicationID" value="@oXILink.FKiApplicationID" />*@
                                @if (oXILink.XiLinkID != 0)
                                {
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <label for="inputEmail" class="gn">XiLink ID:<span class="danger"></span></label>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="inputEmail" class="gn">@oXILink.XiLinkID<span class="danger"></span></label>
                                        </div>
                                    </div>
                                }
                                @if (oXILink.FKiApplicationID == 0)
                                {
                                    <div class="form-group" id="XIFKiApplicationDDL">
                                        <div class="col-md-10">
                                            <label for="inputEmail" class="gn"> Application <span class="danger">*</span></label>
                                            <select class="form-control" id="FKiApplicationID" name="FKiApplicationID">
                                                @foreach (var items in oXILink.ddlApplications)
                                                {
                                                    if (oXILink.FKiApplicationID == items.Value)
                                                    {
                                                        <option selected value="@items.Value">@items.text</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@items.Value">@items.text</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <input type="hidden" id="FKiApplicationID" name="FKiApplicationID" value="@oXILink.FKiApplicationID" />
                                }
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label for="inputEmail" class="gn"> Name<span class="danger">*</span></label>
                                        <input type="text" name="Name" id="Name" placeholder="XiLink name" class="form-control" value="@oXILink.Name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label for="inputEmail" class="gn">Type<span class="danger"></span></label>
                                        <select class="form-control" id="sType">
                                            <option value="Content">Content</option>
                                            <option value="QuestionSet">Question Set</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label for="inputEmail" class="gn"> URL<span class="danger">*</span></label>
                                        <input type="text" name="URL" id="URL" placeholder="Controller/Action Method" class="form-control" value="@oXILink.URL" />

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label for="inputEmail" class="gn"> Active<span class="danger">*</span></label>
                                        <input type="text" name="sActive" id="sActive" placeholder="Active" class="form-control" value="@oXILink.sActive" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label for="inputEmail" class="gn"> 1-Click ID<span class="danger"></span></label>
                                        <input type="text" name="OneClickID" id="OneClickID" placeholder="1-Click ID" class="form-control" value="@oXILink.OneClickID" />
                                    </div>
                                </div>
                                <div class="form-group" style="margin-left:-10px">
                                    <div id="NameValuePairs" class="col-md-12">
                                        @if (oXILink.XiLinkID == 0 || oXILink.XiLinkNVs.Count() == 0)
                                        {
                                            <div class="form-group NVPairs">
                                                <div class="col-md-4">
                                                    <label for="inputEmail" class="gn"> Name<span class="danger"></span></label>
                                                    <input type="text" name="Names" placeholder="Name" class="form-control" />
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="inputEmail" class="gn"> Value<span class="danger"></span></label>
                                                    <input type="text" name="Values" placeholder="Value" class="form-control" />
                                                </div>
                                                <br />
                                                <div class="col-md-2">
                                                    <button type="button" class="btn btn-theme btn-xs DeleteNVPairs">Delete</button>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            foreach (var NVs in oXILink.XiLinkNVs)
                                            {
                                                <div class="form-group NVPairs">
                                                    <div class="col-md-4">
                                                        <label for="inputEmail" class="gn"> Name<span class="danger"></span></label>
                                                        <input type="text" name="Names" placeholder="Name" class="form-control" value="@NVs.Name" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="inputEmail" class="gn"> Value<span class="danger"></span></label>
                                                        <input type="text" name="Values" placeholder="Value" class="form-control" value="@NVs.Value" />
                                                    </div>
                                                    <br />
                                                    <div class="col-md-2">
                                                        <button type="button" class="btn btn-theme btn-xs DeleteNVPairs">Delete</button>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <input type="button" id="AddMore" value="Add" class="btn btn-theme btn-xs">
                                    </div>
                                </div>
                                @if (oXILink.XiLinkID == 0 || oXILink.XiLinkLists.Count() == 0)
                                {
                                    <div class="form-group Lists" style="margin-left:-10px">
                                        <div class="form-group col-md-12">
                                            <div class="col-md-10">
                                                <label for="inputEmail" class="gn"> List<span class="danger"></span></label>
                                                <input type="text" name="List" placeholder="List name" class="form-control ListName" />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 LNVPairs">
                                            <div class="col-md-4">
                                                <label for="inputEmail" class="gn"> Name<span class="danger"></span></label>
                                                <input type="text" name="ListNames" placeholder="Name" class="form-control" />
                                            </div>
                                            <div class="col-md-4">
                                                <label for="inputEmail" class="gn"> Value<span class="danger"></span></label>
                                                <input type="text" name="ListValues" placeholder="Value" class="form-control" />
                                            </div>
                                            <br />
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-theme btn-xs DeleteLNVPair">Delete</button>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 amlist">
                                            <div class="col-md-2">
                                                <input type="button" value="Add" class="AddMoreList btn btn-theme btn-xs">
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    foreach (var items in oXILink.XiLinkLists)
                                    {
                                        if (items.XiLinkListNVs.Count == 0)
                                        {
                                            <div class="form-group Lists">
                                                <div class="form-group col-md-12">
                                                    <div class="col-md-10">
                                                        <label for="inputEmail" class="gn"> List<span class="danger"></span></label>
                                                        <input type="text" name="List" placeholder="List name" class="form-control ListName" value="@items.ListName" />
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12 LNVPairs">
                                                    <div class="col-md-4">
                                                        <label for="inputEmail" class="gn"> Name<span class="danger"></span></label>
                                                        <input type="text" name="ListNames" placeholder="Name" class="form-control" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="inputEmail" class="gn"> Value<span class="danger"></span></label>
                                                        <input type="text" name="ListValues" placeholder="Value" class="form-control" />
                                                    </div>
                                                    <br />
                                                    <div class="col-md-2">
                                                        <button type="button" class="btn btn-theme btn-xs DeleteLNVPair">Delete</button>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12 amlist">
                                                    <div class="col-md-2">
                                                        <input type="button" value="Add" class="AddMoreList btn btn-theme btn-xs">
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group Lists">
                                                <div class="form-group col-md-12">
                                                    <div class="col-md-10">
                                                        <label for="inputEmail" class="gn"> List<span class="danger"></span></label>
                                                        <input type="text" name="List" placeholder="List name" class="form-control ListName" value="@items.ListName" />
                                                    </div>
                                                </div>
                                                @foreach (var NVs in items.XiLinkListNVs)
                                                {
                                                    <div class="form-group col-md-12 LNVPairs">
                                                        <div class="col-md-4">
                                                            <label for="inputEmail" class="gn"> Name<span class="danger"></span></label>
                                                            <input type="text" name="ListNames" placeholder="Name" class="form-control" value="@NVs.Name" />
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label for="inputEmail" class="gn"> Value<span class="danger"></span></label>
                                                            <input type="text" name="ListValues" placeholder="Value" class="form-control" value="@NVs.Value" />
                                                        </div>
                                                        <br />
                                                        <div class="col-md-2">
                                                            <button type="button" class="btn btn-theme btn-xs DeleteLNVPair">Delete</button>
                                                        </div>
                                                    </div>
                                                }
                                                <div class="form-group col-md-12 amlist">
                                                    <div class="col-md-2">
                                                        <input type="button" value="Add" class="AddMoreList btn btn-theme btn-xs">
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                                <div class="form-group alist">
                                    <div class="col-md-4">
                                        <input type="button" value="Add List" class="AddList btn btn-theme btn-xs">
                                    </div>
                                </div>
                                <div class="form-group" id="XIComponentsDiv">
                                    <div class="col-md-10">
                                        <label for="inputEmail" class="gn">XI Component</label>
                                        <select class="form-control" id="XiComponentDDL">
                                            <option value="0">--Select--</option>
                                            @if (oXILink.ddlXIComponents != null)
                                            {
                                                foreach (var items in oXILink.ddlXIComponents)
                                                {
                                                    if (oXILink.FKiComponentID == items.Value)
                                                    {
                                                        <option selected value="@items.Value">@items.text</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@items.Value">@items.text</option>
                                                    }
                                                }
                                            }

                                        </select>
                                        <button type="button" class="btn btn-theme" id="XIComponentBtn"><i class="fas fa-bars"></i></button>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label for="inputEmail" class="gn">Status<span class="danger"></span></label>
                                        <select class="form-control" id="StatusTypeID">
                                            <option value="10">Active</option>
                                            <option value="20">Inactive</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <input type="button" class="btn btn-theme" value="Save" id="SaveXiLink" />
                                    <button type="button" class="btn btn-theme decline CancelXiLink">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="XILinkCParams"></div>
<script>
    $(document.body).on('change', 'input#Name', function () {
        var Name = $('#Name').val();
        var XiLinkID = $('#XiLinkID').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("IsExistsXiLinkName", "XiLink")',
            data: { Name: Name, XiLinkID: parseInt(XiLinkID) },
            cache: false,
            async: false,
            dataType: 'json',
            traditional: true,
            success: function (data) {
                if (data == false) {
                    $('.emperrormsg').html("XiLink Name already exists! Enter another name");
                }
            }
        });
    });

    $('.CancelXiLink').click(function () {
        window.close();
    });
</script>
<div id="SavePopupDlg" class="dialog-box" title="Confirm Message" style="background-color:white;"></div>