@model XIDNA.Models.ForgotPasswordViewModel
@using XIDNA
@{
    ViewBag.Title = "Forgot Password";
    Layout = null;
    var LogoPath = System.Configuration.ConfigurationManager.AppSettings["XIAppLogosPath"];
    var Title = "XIDNA";
    if (SessionManager.AppName != null)
    {
        Title = SessionManager.AppName;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>XIDNA</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link href="~/Content/css/main.css" rel="stylesheet">
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <script src="~/Scripts/JQuery/jQuery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-box-logo">
            <img src="~/Content/images/XIDNA.png">
        </div>
        <div class="login-box-body">
            <h4 class="login-box-msg-head styl-p font-white uppercase m-t-none">ZeeInsurance<span class="style-p small font-white pull-right login-box-msg">Forgot Password</span></h4>
            <div id="resetlink">
                @using (Ajax.BeginForm("ForgotPassword", "Account", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "OnComplete" }, new { @class = "", role = "form", @id = "ForgotPasswordForm" }))
                {
                    <div id="Invalid"></div>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group has-feedback">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" value="Send Password Reminder" class="btn btn-success fullwidth" />
                        </div>
                    </div>
                }
            </div>
            <br />
            <p class="small no-margin">Copyright © 2017-2018</p>
        </div>
    </div>
</body>
</html>

<script>
    $(document).ready(function () {

    });
    function Zeesuccess(resp) {
        if (resp.Email != null) {
            $("#resetlink").empty();
            $("#resetlink").append('<p>Your reset password link has been Sent to Your Registered e-mail address.<p><hr /><p>If you have not Recived link with in 5 minutes</p><a>Please Contact : reports@Zeeinsurance.co.uk</a><br /><br /><button class="btn btn-success fullwidth" onclick="Login()"> Login </button>');
        }
        else {
            $("#Invalid").append('<p>Invalid UserName/Email</p>');
        }
    }
    function Login() {
        window.location.href = '@Url.Action("Login", "Account")';
    }

    function OnComplete(e) {
        if (e.Email != null) {
            window.location.href = '@Url.Action("AdminOTPVerify", "Account")';
        }
    }

</script>