@model XIDNA.Models.ResetPasswordViewModel
@using XIDNA
@{
    ViewBag.Title = "Forgot Password";
    Layout = null;
    var LogoPath = System.Configuration.ConfigurationManager.AppSettings["XIAppLogosPath"];
    var Title = "XIDNA";
    if (SessionManager.AppName != null)
    {
        Title = SessionManager.AppName;
    }
}


<script>
    function OnSuccessChangePassword(resp) {

    }
    function OnSubmitLogin() {
        debugger
        alert("hi");
        if ($("#Password").val() == $("#ConfirmPassword").val()) {
            $("#SendcodeError").html("<p>Current Password and New Password Should be different.</p>");
            $("#SendcodeError").show();
            return false;
        }
        else {
            $("#ChangePwdForm").block({
                message: '<h4>Loading</h4>',
                blockMsgClass: 'report-success',
            });
        }
    }
</script>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Font Awesome -->
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link href="~/Content/css/main.css" rel="stylesheet">
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <script src="~/Scripts/JQuery/jQuery-2.1.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-show-password/1.0.3/bootstrap-show-password.min.js"></script>



</head>
<body class="hold-transition login-page">

    <div class="login-box">
        <div class="login-box-logo">
            <img src="~/Content/images/XIDNA.png">
        </div>
        <div class="login-box-body">
            <h6 class="login-box-msg-head styl-p font-white uppercase m-t-none">ZeeInsurance<span class="style-p small font-white pull-right login-box-msg">Reset your Password</span></h6>

            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { OnBegin = "OnSubmitLogin", OnSuccess = "OnSuccessChangePassword", @class = "", role = "form", @id = "ChangePwdForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                // @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
                @*<div class="form-group">
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                    </div>
                    <div class=" form-group">
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>*@
                <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" data-toggle="password">
                </div>
                    <div class="form-group">
                        <input type="password" id="Confirmpassword" name="Confirmpassword" class="form-control" placeholder="Confirm Password">
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn pull-right font-nirm bg-grey-darker font-red uppercase" value="Reset" />
                    </div>
            }
            <div></div>
            <p class="small no-margin">Copyright © 2017-2018</p>
        </div>
    </div>


    @*<script type="text/javascript">
            $("#password").password('toggle');
        </script>*@


</body>

</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

