@model XIDNA.Models.ResetPasswordViewModel
@using XIDNA
@{
    ViewBag.Title = "Forgot Password";
    Layout = "";
    var LogoPath = System.Configuration.ConfigurationManager.AppSettings["XIAppLogosPath"];
    var Title = "XIDNA";
    if (SessionManager.AppName != null)
    {
        Title = SessionManager.AppName;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Font Awesome -->
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link href="~/Content/css/main.css" rel="stylesheet">
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <script src="~/Scripts/JQuery/jQuery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-show-password/1.0.3/bootstrap-show-password.min.js"></script>

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-box-logo">
            <img src="~/Content/images/XIDNA.png">
        </div>
        <div class="login-box-body">
            <h6 class="login-box-msg-head styl-p font-white uppercase m-t-none">ZeeInsurance<span class="style-p small font-white pull-right login-box-msg">Reset Password</span></h6>
            @if (Model.Error == null)
            {
                <div id="resetlink">
                    @using (Ajax.BeginForm("ResetPassword", "Account", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "onItemSuccess" }, new { enctype = "multipart/form-data", @class = "m-r-t-10", @id = "ItemsForm" }))
                    {
                        <div id="Invalid"></div>
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Code)
                        <div class="form-group has-feedback">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = true })

                        </div>
                        <div class="form-group has-feedback">
                            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "red" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control clsPassword", @placeholder = "Password", @id = "password-field" })
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon fc-black toggle-password"></span>
                        </div>
                        <div class="form-group has-feedback">
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "red" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @id = "confirmpass" })
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-success fullwidth" value="Reset" />
                            </div>
                        </div>
                    }

                </div>
            }
            else
            {
                <div class="login-box-body" style="border-top: none;text-align: center;font-size: 16px;">
                    <p style="color:red;">@Model.Error</p>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-success fullwidth" onclick="Login()"> Login </button>
                        </div><!-- /.col -->
                    </div>
                </div>
            }
            <br />
            <p class="small no-margin">Copyright © 2017-2018</p>
        </div>
    </div>
</body>
</html>

<style>
    .field-icon {
        float: right;
        margin-left: -25px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
    }

    .container {
        padding-top: 50px;
        margin: auto;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    function Login() {
        window.location.href = '@Url.Action("Login", "Account")';

    }
    function Forgot() {
        window.location.href = '@Url.Action("ForgotPassword", "Account")';

    }

    function onItemSuccess(resp) {
        if (resp == "Valid") {
            $("#resetlink").empty();
            $("#resetlink").append('<p>Password Changed Successfully Please Go to Login Page.<p><button class="btn btn-success fullwidth" onclick="Login()">Login</button>');


        } else {
            $("#Invalid").append('Please try again');
        }
    }
    function Login() {
        window.location.href = '@Url.Action("Login", "Account")';

    }

    $(".toggle-password").click(function () {

        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>
