@model XIDNA.ViewModels.VM_CacheData
@using XIDNA.ViewModels
@{
    Layout = "";
    int SNO = 0;
}
@if (Model.Cachefilteredtype == EnumCacheTypes.None)
{
    <h2>Cache List</h2>
}
else if (Model.Cachefilteredtype == EnumCacheTypes.User)
{
    <h2>User Level List</h2>
}
else
{
    <h2>Application Level List</h2>
}
<div class="table-clean">
    <div class="datatable-scroll">
        <table class="table table-striped custom-table dark-head dark-head2 table-condensed table-hover dataTable no-footer" id="">
            <thead>
                <tr role="row">
                    <th>S.No</th>
                    <th>Key</th>
                    <th>Size (Kbs)</th>
                    <th>UserName</th>
                    <th>Role Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CacheList)
                {
                    SNO = SNO + 1;
                    <tr>
                        <th>@SNO</th>
                        <th onclick='fncCacheKey(id$@item.sKey)'>@item.sKey</th>
                        <th>@item.Size</th>
                        <th>@item.sUserName</th>
                        <th>@item.sRole</th>
                        <th><input type="button" class="RemoveCacheBtn btn btn-theme btn-xs" id="id$@item.sKey" value="Remove" data-Cachetype="@item.CacheType"></th>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td>Total: </td>
                    <td>@Model.CacheList.Select(d => d.Size).Sum()</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script type="text/javascript">
    function fncCacheKey(sKey) {
        var sKey = sKey.id.split('$')[1];
        $.ajax({
            type: 'GET',
            url: '@Url.Action("UserLevelCache", "Home")',
            data: { sKey: sKey },
            contentType: 'application/json;',
            dataType: 'html',
            success: function (data) {
                $("#CacheKeyDetails").html(data);
                $("#CacheKeyDetails").dialog({
                    title: "User Level Cache Information",
                    modal: true,
                    resizable: true,
                    width: 1391,
                    height: 740,
                    buttons: [
                    {
                        text: "Close",
                        click: function () {
                            $("#CacheKeyDetails").dialog('close');
                        }
                    }
                    ]
                });
            }
        });
    }
</script>

<div id="CacheKeyDetails"></div>

