@model XIDNA.Models.StructuredOneClicks

@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
}

<section class="content-header hedr">
    @if (@Model.ID == 0)
    {
        <h1> Add Structured 1-Click </h1>
    }
    else
    {
        <h1> Edit Structured 1-Click </h1>
    }

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Structured 1-Click</a></li>
        <li class="active">Home</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body padding10Tab">
                    <div class="innerborder">
                        <div id="PopupForm">
                            @using (Ajax.BeginForm("SaveStructuredOneClick", "QueryGeneration", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "Field", OnSuccess = "OnComplete" }, new { @id = "StructuredOneClickForm", @class = "form-horizontal" }))
                            {
                                @Html.ValidationSummary(true);
                                @Html.HiddenFor(m => m.ID)
                                <div id="clear-text">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label for="inputEmail" class="gn">Popups<span class="danger"></span></label>
                                            @Html.DropDownListFor(m => m.ReportID, new SelectList(Model.Parent1Clicks, "Value", "text"), new { @class = "form-control" })
                                        </div>
                                        <div class="col-sm-3 reporterrormsg">
                                            @Html.ValidationMessageFor(m => m.ReportID, null, new { @class = "red" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label for="inputEmail" class="gn"> Name<span class="danger">*</span></label>
                                            @Html.TextBoxFor(model => model.Name, new { @placeholder = "Enter Name", @class = "form-control" })
                                        </div>
                                        <div class="col-sm-4 taberrormsg">
                                            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "red" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label for="inputEmail" class="gn"> Condition<span class="danger">*</span></label>
                                            @Html.TextBoxFor(model => model.WhereCondition, new { @placeholder = "Enter Condition", @class = "form-control" })
                                        </div>
                                        <div class="col-sm-4 taberrormsg">
                                            @Html.ValidationMessageFor(m => m.WhereCondition, null, new { @class = "red" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label for="inputEmail" class="gn">Status<span class="danger"></span></label>
                                            @Html.DropDownListFor(m => m.StatusTypeID, new SelectList(new List<Object>{
                                               new { key= 10 , value = "Active" },
                       new { key= 20 , value = "Inactive" }
                    }, "key", "Value"), new { @class = "form-control", @id = "Status" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <input type="submit" class="btn btn-theme" value="Save" />
                                        <button type="button" class="btn btn-theme decline CancelPopup">Cancel</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<div id="SavePopupDlg" class="dialog-box" title="Confirm Message" style="background-color:white;"></div>
<script>
    function OnComplete(e) {
        if ('@Model.ID' == 0) {
            if (e > 0) {
                $("#SavePopupDlg").html('1-Click Added Successfully</br>Do You Want To Add One More?');
                $("#SavePopupDlg").dialog({
                    title: "Popups",
                    modal: true,
                    buttons: [
                       {
                           text: "Yes",
                           click: function () {
                               opener.location.reload();
                               $('#StructuredOneClickForm')[0].reset();
                               $("#SavePopupDlg").dialog("close");

                           }
                       },
                    {
                        text: "No",
                        click: function () {
                            opener.location.reload();
                            $("#SavePopupDlg").dialog("close");
                            window.close();
                        }
                    }
                    ]
                });
            }
            else {
                $("#SavePopupDlg").html('Error while adding popuup!!!</br>Please try again');
                $("#SavePopupDlg").dialog({
                    title: "Popups",
                    modal: true,
                    buttons: [
                       {
                           text: "Ok",
                           click: function () {
                               $("#SavePopupDlg").dialog("close");
                           }
                       }
                    ]
                });
            }
        }
        else {
            if (e > 0) {
                opener.location.reload();
                $("#SavePopupDlg").html('Popuup Updated Successfully!');
                $("#SavePopupDlg").dialog({
                    title: "Popups",
                    modal: true,
                    buttons: [
                    {
                        text: "Ok",
                        click: function () {
                            window.close();
                        }
                    }
                    ]
                });
            }
            else {
                $("#SavePopupDlg").html('Error while updating popuup!!!</br>Please try again');
                $("#SavePopupDlg").dialog({
                    title: "Popups",
                    modal: true,
                    buttons: [
                       {
                           text: "Ok",
                           click: function () {
                               $("#SavePopupDlg").dialog("close");
                           }
                       }
                    ]
                });
            }
        }


    }
    $('.CancelPopup').click(function () {
        window.close();
    });
</script>