@model XIDNA.Models.cQSVisualisations
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
}

<section class="content-header hedr">
    @if (Model.ID == 0)
    {
        <h1> Add QS Visualisations </h1>
    }
    else
    {
        <h1> Edit QS Visualisations </h1>
    }
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> QS Visualisations</a></li>
        <li class="active">Home</li>
    </ol>
</section>

<div class="form-group">
    <div id="addClass">
        <div class="m-t-b-15">
            <section class="content">
                <div class="row">
                    <div class="box">
                        <div class="box-body">
                            <div class="innerborder">
                                @using (Ajax.BeginForm("SaveQSVisualisations", "XISematics", new AjaxOptions { OnBegin = "OnFormBegin()", HttpMethod = "POST", OnSuccess = "OnComplete" }, new { @id = "QSVisualForm", @class = "form-horizontal" }))
                                {
                                    @Html.ValidationSummary(true);
                                    @Html.HiddenFor(m => m.ID)
                                    <div id="clear-text">
                                        @if (Model.FKiApplicationID == 0)
                                        {
                                            <div class="form-group" id="XIFKiApplicationDDL">
                                                <div class="col-md-3">
                                                    <label for="inputEmail" class="gn"> Application <span class="danger">*</span></label>
                                                    <select class="form-control" id="ApplicationID" name="FKiApplicationID">
                                                        <option value="0">--Select--</option>
                                                        @foreach (var items in Model.ddlApplications)
                                                        {
                                                            if (Model.FKiApplicationID == items.Value)
                                                            {
                                                                <option selected value="@items.Value">@items.text</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@items.Value">@items.text</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <input type="hidden" id="ApplicationID" name="FKiApplicationID" value="@Model.FKiApplicationID" />
                                        }
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label for="inputEmail" class="gn">Question Set<span class="danger"></span></label>
                                                @Html.DropDownListFor(m => m.FKiQSDefinitionID, new SelectList(Model.ddlQuestionSets, "Value", "text"), "--Select--", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label for="inputEmail" class="gn">Step<span class="danger"></span></label>
                                                @Html.DropDownListFor(m => m.FKiQSStepDefinitionID, new SelectList(Model.ddlQSStteps, "Value", "text"), "--Select--", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                                <div class="col-md-3">
                                                    <label for="inputEmail" class="gn">Section<span class="danger"></span></label>
                                                    @Html.DropDownListFor(m => m.FKiSectionDefinitionID, new SelectList(Model.ddlSections, "Value", "text"), "--Select--", new { @class = "form-control" })
                                                </div>
                                            </div>*@

                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label for="inputEmail" class="gn">Fields<span class="danger"></span></label>
                                                @Html.DropDownListFor(m => m.FKiFieldOriginID, new SelectList(Model.ddlFields, "Value", "text"), "--Select--", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label for="inputEmail" class="gn">Visualisation<span class="danger"></span></label>
                                                @Html.TextAreaFor(m => m.sVisualisation, new { @class = "form-control", @rows = 5, @cols = 10 })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <input type="submit" class="btn btn-theme" value="Save" />
                                                @if (Model.ID == 0)
                                                {
                                                    <button type="reset" class="btn btn-theme reverse" id="ResetBoBtn">Reset</button>
                                                }
                                                <button type="button" class="btn btn-theme decline" id="CancelBO">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#FKiQSDefinitionID').change(function () {
            var Value = $(this).val();
            if (Value > 0) {
                fncGetQSData(Value, "QS");
            }
            else {
                $('#FKiQSStepDefinitionID').empty();
                $('#FKiQSStepDefinitionID').append('<option value="">--Select--</option>');
            }
        });
        //$('#FKiSectionDefinitionID').change(function () {
        //    var Value = $(this).val();
        //    if (Value > 0) {
        //        fncGetQSData(Value, "Step");
        //    }
        //    else {
        //        $('#FKiSectionDefinitionID').empty();
        //        $('#FKiSectionDefinitionID').append('<option value="">--Select--</option>');
        //    }
        //});
        $('#FKiQSStepDefinitionID').change(function () {
            var Value = $(this).val();
            if (Value > 0) {
                fncGetQSData(Value, "Step");
            }
            else {
                $('#FKiFieldOriginID').empty();
                $('#FKiFieldOriginID').append('<option value="">--Select--</option>');
            }
        });
        $('#CancelBO').click(function () {
            window.close();
        });
        $('#ResetBoBtn').click(function () {
            $('#QSVisualForm')[0].reset();
            $('#QSVisualForm .taberrormsg').find('span').html('');
        });
    })
    function OnFormBegin() {
        $('#QSVisualForm').block({
            message: '<h4>Saving</h4>',
            blockMsgClass: 'report-success',
        });
    }

    function OnComplete(e) {
        $('#QSVisualForm').unblock();
        CustomMessage(e.ResponseMessage, e.Status);
        opener.window.location.reload();
    }

    function fncGetQSData(ID, Type) {
        $.ajax({
            url: '@Url.Action("GetQSData", "XISemantics")',
            type: "Post",
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            cache: false,
            async: false,
            data: JSON.stringify({ ID: ID, Type: Type }),
            success: function (data) {
                if (Type == "QS") {
                    $('#FKiQSStepDefinitionID').empty();
                    $('#FKiQSStepDefinitionID').append('<option value="">--Select--</option>');
                    for (i = 0; i < data.length; i++) {
                        $('#FKiQSStepDefinitionID').append('<option value="' + data[i].Value + '">' + data[i].text + '</option>');
                    }
                }
                    //else if (Type == "Step") {
                    //    $('#FKiSectionDefinitionID').empty();
                    //    $('#FKiSectionDefinitionID').append('<option value="">--Select--</option>');
                    //    for (i = 0; i < data.length; i++) {
                    //        $('#FKiSectionDefinitionID').append('<option value="' + data[i].Value + '">' + data[i].text + '</option>');
                    //    }
                    //}
                else if (Type == "Step") {
                    $('#FKiFieldOriginID').empty();
                    $('#FKiFieldOriginID').append('<option value="">--Select--</option>');
                    for (i = 0; i < data.length; i++) {
                        $('#FKiFieldOriginID').append('<option value="' + data[i].Value + '">' + data[i].text + '</option>');
                    }
                }

            }
        });
    }


</script>