@{
    Layout = "~/Views/Shared/_XIDynawareLayout.cshtml";
}

<script>

    $(document).ready(function () {
        var editpopups = new Array();
        var addpopups = new Array();
        var table = $('#XISemanticsTbl').dataTable({
            "paging": true,
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@Url.Action("GetXISemanticsDetails", "XISemantics")",
            "aaSorting": [[1, 'desc']],
            "sDom": 'r<"dtable-header"l<"new-query">f><"datatable-scroll"t><"dtable-footer"ip>',
            "initComplete": function () {
                $("div.new-query").html('<button type="button" class="savebtn btn btn-theme btn-xs" id="NewBtn" data-url="@Url.Action("AddXISemantics", "XISemantics")" >Add</button>');
            },
            'bJQueryUI': false,
            "autoWidth": false,
            "aoColumns": [
            { "bSortable": false },
                            {
                                "sName": "ID"
                            },
                            {
                                "sName": "sName"
                            },
                             {
                                 "sName": "sDescription",
                             },
                            {
                                "sName": "iStatusTypeID",
                            },
                            { "bSortable": false }
            ],
            "columnDefs": [
                {

                    "targets": [4],
                    "createdCell": function (td, cellData, rowData, row, col) {
                        if (cellData == 10)
                            $(td).replaceWith('<td>Active</td>')
                        else
                            $(td).replaceWith('<td>Inactive</td>')
                    }
                },
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                $('td:eq(5)', nRow).html('<input type="button" class="EditBtn btn btn-theme btn-xs" id="' + aData[1] + '" value="Edit"/>&nbsp;<input type="button" class="CopyBtn btn btn-theme btn-xs" id="' + aData[1] + '" value="Copy"/>&nbsp;<input type="button" class="PreviewBtn btn btn-theme btn-xs" id="' + aData[1] + '" value="Preview"/>');
                return nRow;
            }
        })
        $('.new-query').on('click', 'button#NewBtn', function () {
            var url = $(this).attr('data-url');
            if (addpopups.length > 0) {
                for (i = 0; i < addpopups.length; i++) {
                    addpopups[i].close();
                }
            }
            var newbo = window.open(url, '_blank', "scrollbars=1,resizable=1,width=" + screen.width + ", height=" + screen.height);
            addpopups.push(newbo);
            newbo.moveTo(0, 0);
        });

        $(document).on('click', '.EditBtn', function () {
            var ID = $(this).attr('ID');
            if (editpopups.length > 0) {
                for (i = 0; i < editpopups.length; i++) {
                    editpopups[i].close();
                }
            }
            var editpopup = window.open('', '_blank', "scrollbars=1,resizable=1,width=" + screen.width + ", height=" + screen.height);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddXISemantics", "XISemantics")',
                data: { ID: ID },
                cache: false,
                async: false,
                dataType: 'html',
                success: function (data) {
                    with (editpopup.document) {
                        open();
                        write(data);
                        close();
                    }
                    editpopups.push(editpopup);
                    editpopup.moveTo(0, 0);
                }
            });
        });

        $(document).on('click', '.PreviewBtn', function () {
            var ID = $(this).attr('ID');
            if (editpopups.length > 0) {
                for (i = 0; i < editpopups.length; i++) {
                    editpopups[i].close();
                }
            }
            var editpopup = window.open('', '_blank', "scrollbars=1,resizable=1,width=" + screen.width + ", height=" + screen.height);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("View_QSConfigs", "XISemantics")',
                data: { iQSDID: ID },
                cache: false,
                async: false,
                dataType: 'html',
                success: function (data) {
                    with (editpopup.document) {
                        open();
                        write(data);
                        close();
                    }
                    editpopups.push(editpopup);
                    editpopup.moveTo(0, 0);
                }
            });
        });

        $(document).on('click', 'input.CopyBtn', function () {
            var ID = $(this).attr('ID');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CopyXISemantics", "XISemantics")',
                data: { ID: ID },
                cache: false,
                async: false,
                dataType: 'html',
                success: function (data) {
                    window.location.reload();
                }
            });
        });

        $(document).on('click', '.DeleteButton', function () {
            var ID = $(this).attr('ID');
            $("#Delete-Confirmation").dialog({
                autoOpen: true,
                modal: true,
                title: 'Confirmation',
                width: 400,
                buttons: {
                    Yes: function () {
                        $(this).dialog("close");
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("DeleteXISemanticsDetailsByID", "XISemantics")',
                            data: { ID: ID },
                            cache: false,
                            async: false,
                            dataType: 'html',
                            success: function (data) {
                                if (data == 1) {
                                    $("#BootstrpAlertSuccess").show();
                                    $("#BootstrpAlertSuccess").append("<strong>Success!</strong> The XISemantics have been deleted successfully.");
                                    $(function () {
                                        setTimeout(function () {
                                            $("#BootstrpAlertSuccess").hide('blind', {}, 500)
                                        }, 2000);
                                        window.location.href = "/XISemantics/Index";
                                    });
                                }
                                else {
                                    $("#BootstrpError").show();
                                    $("#BootstrpError").append("<strong>Failure!</strong> OOPS looks like there is some error.");
                                    $(function () {
                                        setTimeout(function () {
                                            $("#BootstrpError").hide('blind', {}, 500)
                                        }, 2000);
                                    });
                                }
                            }
                        });

                    },
                    No: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });

    });

</script>

<section class="content-header hedr">
    <h1> XI Question Set Management </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> XISemantics </a></li>
        <li class="active">Home</li>
    </ol>
</section>
<div class="content">
    <div class="alert alert-danger" id="BootstrpError" style="display:none;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    </div>
    <div class="alert alert-success" id="BootstrpAlertSuccess" style="display:none;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="table-clean">
                        <table class="table table-striped custom-table dark-head dark-head2 table-condensed" id="XISemanticsTbl">
                            <thead>
                                <tr role="row">
                                    <th>S.No</th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="Delete-Confirmation" title="Window title" style="display:none">
    <p>Do you want to delete the XI Question Set.</p>
</div>