@using Microsoft.AspNet.Identity
@using XIDNA.Models
@using XIDNA.ViewModels
@using XIDNA
@{
    string PhysicalPath = System.Configuration.ConfigurationManager.AppSettings["PhysicalPath"];
    var Title = "XIDNA";
    if (SessionManager.AppName != null)
    {
        Title = SessionManager.AppName;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport1" content="width=device-width, minimum-scale=0.1">
    <title>@Title</title>
    <link href="@Url.Content("~/Content/css/plugins/jquery-ui/jquery-ui.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/plugins/jquery-ui/jquery-ui-custom.css")" rel="stylesheet" />
    <!-- Bootstrap 3.3.5 -->
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" />
    <!-- Font Awesome -->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">*@
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/datatables/dataTables.bootstrap.css")">
    <link href="@Url.Content("~/Content/css/main.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/user-custom5.css")" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/css/skins/@SessionManager.Theme">
    @*@if (User.Identity.GetGroupName().Contains(EnumRoles.SuperAdmin.ToString()))
        {
            <link rel="stylesheet" href="~/Content/css/skins/dark-theme.css">
        }
        else
        {
            <link rel="stylesheet" href="~/Content/css/skins/@User.Identity.GetOrganizationTheme()">
        }*@

    <!-- DataTables -->
    <!--<link rel="stylesheet" href="plugins/datatables/dataTables.bootstrap.css">-->
    <link href="@Url.Content("~/Content/css/animate.css")" rel="stylesheet" />

    <script src="@Url.Content("~/Scripts/JQuery/jQuery-2.1.4.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/ajaxfileupload.js")"></script>*@
    <script src="@Url.Content("~/Scripts/CommonFunctions.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/datatables/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <!-- jQuery UI -->
    <script src="@Url.Content("~/Scripts/JQuery/jquery-ui.js")"></script>
    <script src="@Url.Content("~/Scripts/js/bootstrap.min.js")"></script>
    @*<link href="~/Scripts/JSTree/themes/default/style.css" rel="stylesheet" />*@
    <!-- JSTree -->
    <link href="@Url.Content("~/Content/jsTree/themes/default/style.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/treeview/jstree.min.js")"></script>
    <!-- Loading Js -->
    <script src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Scripts/app.min.js")"></script>
    <!-- ChartJS-->
    <script src="@Url.Content("~/Scripts/js/plugins/chartJs/Chart.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/plugins/easypiechart/jquery.easypiechart.js")"></script>
    <script src="@Url.Content("~/Scripts/C3/d3.v3.min.js")"></script>
    <script src="@Url.Content("~/Scripts/C3/c3.min.js")"></script>
    <link href="@Url.Content("~/Scripts/C3/c3.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/plugins/tabScroll/jquery.scrolling-tabs.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Content/plugins/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js")"></script>
    <link href="@Url.Content("~/Content/plugins/mCustomScrollbar/jquery.mCustomScrollbar.min.css")" rel="stylesheet" />

    <script type="text/javascript">
        function GetRemiderList() {
            var userid = parseInt('@User.Identity.GetUserId()');
            $.ajax({
                url: '@Url.Action("GetReminderUserCount", "Inbox")',
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                datatype: "JSON",
                cache: false,
                data: { UserID: userid },
                success: function (data) {
                    var Count = parseInt(data.length);
                    $('.ReminderCount').html(Count);
                    $.each(data, function (i, val) {
                        var Message = val.Message;
                        var MessageLength = parseInt(Message.length);
                        var dots = "......"
                        if (MessageLength > 30) {
                            var message = Message.substring(0, 30) + dots;
                        }
                        else {
                            var message = Message;
                        }
                        $('#ReminderMessage').append('<li><a href="#"><div class="pull-left"><img src="/Content/images/human.png" class="img-circle" alt="User Image"/></div> <h4> Support Team <small><i class="fa fa-clock-o"></i> 5 mins</small> </h4><p>' + message + '</p></a></li>');
                        $('#NotificationMessages').append('<li> <a href="#"> <i class="fa fa-users text-aqua"></i>' + message + '</a></li>');
                    });


                }
            });
        }
        $(document).ready(function () {
            AutoCreateLayoutURL = '@Url.Action("AutoCreateLayout", "Popup")';
            AddEditLayoutURL = '@Url.Action("AddEditPopupLayout","Popup")';
            LayoutMappingsURL = '@Url.Action("GetLayoutMappings", "Popup")';
            AddEditXiLinkURL = '@Url.Action("AddEditXiLink", "XiLink")';
            XiLinkListByOrgURL = '@Url.Action("GetXiLinkListByOrg", "QueryGeneration")';
            ViewXiLinkURL = '@Url.Action("ViewXiLink", "XiLink")';
            SaveEditBOURL = '@Url.Action("SaveBO", "XiLink")';
            AddEditXiParameterURL = '@Url.Action("AddEditXiParameter", "XiLink")';
            ViewXiParameterURL = '@Url.Action("ViewXiParameter", "XiLink")';
            XiParameterListByOrgURL = '@Url.Action("GetXiParameterListByOrg", "QueryGeneration")';
            AddEditXiLayoutURL = '@Url.Action("AddEditLayoutDetails", "Popup")';
            XiLayoutListByOrgURL = '@Url.Action("GetXiLayoutListByOrg", "Popup")';
            UpdateXIParamsURL = '@Url.Action("UpdateXIParams", "XIComponents")';
            StepContentURL = '@Url.Action("GetStepContent", "XiLink")';
            StepDataURL = '@Url.Action("GetStepData", "XiLink")';
            @*$('.MoreMessages').on('click', function () {
                var url = $(this).attr('data-url');
                window.open('@Url.Action("ViewMessage", "Inbox")', "_blank", "scrollbars=1,resizable=1,width=1400, height=700,left=0,top=0");
            })*@
        });
    </script>
    @*<script type="text/javascript">GetRemiderList();</script>*@

</head>
<body class="@SessionManager.Theme.Replace(".css","") sidebar-mini">
    <div id="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>CN</b>R</span>
                <!-- logo for regular state and mobile devices -->
                @*<span class="logo-lg"><img src="~/Content/images/ICON10.png" width="30" /> <b> CONVERTER</b></span>*@
                <span class="logo-lg"><img src="~/Content/images/XIDNA.png" width="150" /><b> </b> </span>
                @*@if (User.Identity.GetGroupName().Contains(EnumRoles.SuperAdmin.ToString()))
                    {
                        <span class="logo-lg"><img src="~/Content/images/ICON10.png" width="30" /><b> XIDynaware</b> </span>
                    }
                    else
                    {
                        <span class="logo-lg"> @User.Identity.GetFirstName().ToUpper() </span>
                    }*@
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-envelope-o"></i> <span class="label label-success ReminderCount">0</span> </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have <span class="ReminderCount">0</span> messages</li>
                                <li>
                                    <!-- inner menu: contains the messages -->
                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;">
                                        <ul class="menu" id="ReminderMessage" style="overflow: hidden; width: 100%; height: 200px;">
                                            @*<li>
                                                    <!-- start message -->
                                                    <a href="#">
                                                        <div class="pull-left">
                                                            <!-- User Image -->
                                                            <img src="~/Content/images/human.png" class="img-circle" alt="User Image">
                                                        </div>
                                                        <!-- Message title and timestamp -->
                                                        <h4> Support Team <small><i class="fa fa-clock-o"></i> 5 mins</small> </h4>
                                                        <!-- The message -->
                                                        <p id="ReminderMessage"></p>
                                                    </a>
                                                </li>*@
                                            <!-- end message -->
                                        </ul><div class="slimScrollBar" style="width: 3px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
                                    </div>
                                    <!-- /.menu -->
                                </li>
                                <li class="footer MoreMessages"><a>See All Messages</a></li>
                            </ul>
                        </li>
                        <!-- /.messages-menu -->
                        <!-- Notifications Menu -->
                        <li class="dropdown notifications-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-bell-o"></i> <span class="label label-warning ReminderCount">0</span> </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have <span class="ReminderCount">0</span> notifications</li>
                                <li>
                                    <!-- Inner Menu: contains the notifications -->
                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;">
                                        <ul class="menu" id="NotificationMessages" style="overflow: hidden; width: 100%; height: 200px;">
                                            @*<li>*@
                                            <!-- start notification -->
                                            @*<a href="#"> <i class="fa fa-users text-aqua"></i> <span class="ReminderCount"></span> new members joined today </a>*@
                                            @*</li>*@
                                            <!-- end notification -->
                                        </ul><div class="slimScrollBar" style="width: 3px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
                                    </div>
                                </li>
                                <li class="footer MoreMessages"><a>View all</a></li>
                            </ul>
                        </li>

                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="~/Content/images/human.png" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                @*<span class="hidden-xs">@Session["UserName"].ToString()</span>*@
                                <span class="hidden-xs">@User.Identity.GetUserName()</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="~/Content/images/human.png" class="img-circle" alt="User Image">
                                    @*<p> @User.Identity.GetFirstName()<small>@User.Identity.GetGroupName()</small> </p>*@
                                </li>
                                <!-- Menu Body -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left"> <a id="UserProfile" class="btn  btn-theme">Profile</a> </div>
                                    <div class="pull-right">
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn  btn-warning">Sign out</a>
                                        }
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <div class="">
            @RenderBody()
        </div>
    </div>
    <div id="Dialogs"></div>
    <div id="DialogGroups" class="no-padding" style="display:none;">
        <div id="VerticalLeftBar" class="col-xs-1 btn-popover gutter6"></div>
        <div id="HorizontalTopBar" class="col-xs-12 btn-popover bottom"></div>
        <div id="DialogContent">
        </div>
        <div id="VerticalRightBar" class="col-xs-1 btn-popover left gutter6 pull-right"></div>
        <div id="HorizontalBottonBar" class="col-xs-12 btn-popover top"></div>
    </div>
</body>
</html>
